
body{
	direction: rtl !important; 
	background-color: #F4F4F4 !important;
	font-family: tahoma,geneva !important;
}
ul,li{
	padding: 0;
	margin: 0;
}
#header{
	background-color: #D1CFCF; 
	height: 130px;
	background: linear-gradient(-42deg ,#959595 5%,#D1CFCF 30%,#ABACAA 41%,#BCBCBC 50%,#A0A09F 61%,#e0e0e0 100%);
	
	box-shadow: 0 21px 9px #BCBCBC inset, 19px 0 9px #BCBCBC inset;
}


#content-margin{
	margin-top: 15px;
}

.blog-title h1,.blog-slogan h3{
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}


.navbar-form .form-control{
	width:  150px;
	transition: all 0.45s ease;
}
.navbar-form .form-control:focus{
	width:  250px;
}



.history-shamsi{
	font-size:13px;
	color: #0099FF;
/* 	background-color: #CDF0FB;
	background: linear-gradient(7deg ,#CDF0FB 20%,#C7F3BB 21%,#CDF0FB 30%,#C7F3BB 31%,#D3D3D3 80%,#CDF0FB 81%); */
	padding: 1px 4px 3px 4px;
	position: absolute;
	top: 0;
	right: 78%;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background: linear-gradient(180deg ,#EDEDED 4%,#F7F7F7 5%,#EDEDED 60%);
	box-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1);
	
}

#mihan_page_advert{display:none;}

.navbar-nav li a{
	transition: all 0.45s ease;
	border-left: 1px solid #BEBEBD;
}


.navbar-nav li a:hover{
	background-color:#E7E7E7 !important;
	color: #fff !important;
	
	box-shadow: 0 -44px 0 #0099FF inset !important;
}




.navbar{
    background-color: #C4C4C4;
	background: linear-gradient(7deg ,#C4C4C4 20%,#CECECE 21%,#C4C4C4 30%,#CECECE 31%,#D3D3D3 80%,#C4C4C4 81%); 	
}



a{text-decoration: none !important;}

.side-post-title{
    background-color: #C4C4C4;
	background: linear-gradient(7deg ,#C4C4C4 20%,#CECECE 21%,#C4C4C4 30%,#CECECE 31%,#D3D3D3 80%,#C4C4C4 81%); 	
	height: 35px;
	font-size: 14px;
	line-height: 30px;
	padding-right: 6px;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin: 0;
}


.content-post h1{
	font-size: 13px;
	
	
}


.side-post-title span{
	font-size: 25px;
	color: #666;
	float: right;
	padding-top: 3px;
	padding-left: 3px;
	
	text-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15) ,0 0 4px #E00,0 1px 4px #0E0;
}


.side-right{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: auto;
	margin-right: -15px;
	margin-bottom: 15px;
}

.side-about-title{
    background-color: #C4C4C4;
	background: linear-gradient(7deg ,#C4C4C4 20%,#CECECE 21%,#C4C4C4 30%,#CECECE 31%,#D3D3D3 80%,#C4C4C4 81%); 	
	height: 35px;
	font-size: 14px;
	line-height: 30px;
	padding-right: 6px;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin: 0;
}

.side-about-title span{
	font-size: 25px;
	color: #666;
	float: right;
	padding-top: 3px;
	padding-left: 3px;
}








.border-about{
	border-bottom: 1px solid #CECECE;
}






.content-post{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: auto;
	margin-bottom: 15px;
}



@media screen and (max-width: 991px){
	.side-right{margin-right: 0;}
	.content-post{margin-left: 0;}
	.nav-tabs li a{font-size: 12px;}
}


@media screen and (max-width: 650px){
	.history-shamsi{font-size: 11px;}
	.content-post h1{font-size: 10px;}
}




/* ---------------------------------- */
.content-category {
	padding: 3px 4px;
	font-size: 14px;
}


.content-category ul li{
	list-style: none;
	padding: 3px 4px;
	line-height: 18px;	
}

.content-category ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-category ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* --------------------------------------- */




.logo-photo-about{
    text-align: center;
    padding-bottom: 5px;
	margin-top: 6px;
}

.font-about {
    font-size: 13px;
	padding: 0 5px 4px 5px;
	color: #0099ff;
}
.side-right li a{
	color: #000;
}





.font-poll {
    font-size: 13px;
	padding: 0 5px;
	color: #0099ff;
	line-height: 18px;
}

.button-poll{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}





.content-stat h4{
	padding: 2px 4px;
	font-size: 14px;
	line-height: 18px;	
}



.content-tags {
	padding: 3px 6px;
	font-size: 12px;
	line-height: 34px;
	
}

.content-tags a{
	padding: 3px 4px;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #0099FF;
	color: #0099FF;
	transition: all 0.5s ease;
}


.content-tags a:hover, .content-tags a:focus{
	/* background-color: #0099FF; */
	border: 1px solid #999999;
	color: #ffffff;
	box-shadow: 0 24px 0 #0099FF inset !important;
}




/* ------------------------------------ */
.content-extra {
	padding: 3px 4px;
	font-size: 14px;
}

.content-extra ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-extra ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition: all 0.3s ease;
}

.content-extra ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* ----------------------------------- */

/* ----------------------------------- */
.content-general {
	padding: 3px 4px;
	font-size: 14px;
}

.content-general ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-general ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-general ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* --------------------------------------- */




/* -------------------------------------- */
.content-archive {
	padding: 3px 4px;
	font-size: 14px;
}

.content-archive ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-archive ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-archive ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* ------------------------------------- */


/* ------------------------------------- */
.content-author {
	padding: 3px 4px;
	font-size: 14px;
}

.content-author ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-author ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-author ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* ------------------------------------- */




/* ------------------------------------- */
.content-daily {
	padding: 3px 4px;
	font-size: 14px;
}

.content-daily ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-daily ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-daily ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* -------------------------------- */




/* -------------------------------- */
.content-recent {
	padding: 3px 4px;
	font-size: 14px;
}

.content-recent ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-recent ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-recent ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* ------------------------------------ */




/* ----------------------------------- */
.content-link {
	padding: 3px 4px;
	font-size: 14px;
}

.content-link ul li{
	list-style: none;
	padding: 2px 4px;
	line-height: 18px;	
}

.content-link ul li a{
	text-decoration: none;
	display: block;
	font-size: 13px;
	color: #444;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;border-right:2px solid #f9f9f9;
	margin-top: 2px;
	padding-bottom: 2px;
	transition-duration: 0.3s;
	/* box-shadow: 3px 0 0 #f0a; */
}

.content-link ul li a:hover{
	background-color: #C8C8C8;
	padding-right: 5px;
	color: #000;
	box-shadow: 84px 0 0 #0099FF inset !important;
}
/* --------------------------------------- */



.content-script {
	padding: 3px 4px;
	font-size: 14px;
}

.content-script a{
	color: #000;
}


.content-script a:hover{
	text-decoration: none !important;
}





/* ------------------------------------------------------------- */

.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
	color:#55f !important;
	background-color: #C4C4C4;
	background: linear-gradient(7deg ,#C4C4C4 20%,#CECECE 21%,#C4C4C4 30%,#CECECE 31%,#D3D3D3 80%,#C4C4C4 81%); 
	outline: none;
}




/* -------------------------------------------------- */
.content-post-pages{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: auto;
	margin-bottom: 15px;
}

.content-pages{
	padding: 3px 4px;
	font-size: 14px;
	text-align: center;
}

.content-pages span{
	padding: 4px;
	font-size: 16px;
}


.content-pages li {
	list-style: none;
	display: inline-block;
}


.content-pages li a{
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	color: #0099ff;
	
	background-color: #fff;
	
	
	border: 1px solid #0099FF;
	margin: 2px;
	padding: 2px 3px 3px 3px;
	transition: all 0.4s ease;
	border-radius: 3px;
	
	
	
	
}

.content-pages li a:hover,.content-pages li a:focus{
	/* background-color: #008FEF; */
	color: #ffffff;
	transition: all 0.4s ease;
	/* border-radius: 4px; */
	/* box-shadow: 0 2px 4px rgba(0,0,0, 0.4), 2px 0 4px rgba(0,0,0, 0.4), 0 -2px 4px rgba(0,0,0, 0.4), -2px 0 4px rgba(0,0,0, 0.4); */
	
	border: 1px solid #999999;
	box-shadow: 0 30px 0 #0099FF inset !important;
	
}

/* --------------------------- */

/* ------------------------ */
.content-post a{
	color:#44f;
	font-size: 13px;
}

.content-post a:hover{
	color:#444;
	text-decoration: none;
}

.font-content{
	font-size: 13px;
	line-height: 19px;
	padding: 8px 6px;
	text-align: justify;
}



.font-content img{
	max-width:100%;
	height: auto;
    margin-top: 5px;
    margin-bottom: 5px;	
	transition: all 0.5s ease;
	display:block;
}
.font-content img:hover{
	transform: scale(1.1);
	transition: all 0.5s ease;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0, 0.6), 2px 0 4px rgba(0,0,0, 0.6), 0 -2px 4px rgba(0,0,0, 0.6), -2px 0 4px rgba(0,0,0, 0.6);
}

@media screen and (max-width: 540px){
	/* .font-content img{height: auto; width: 100%;} */
	.content-post a{font-size: 10px;}
	.footer-text{font-size: 10px;}
	
}


.border-content-tag{
	height: auto;
    border: 1px dotted #E5E5E5;
	background-color: #F7F7F7;
	padding: 4px;
	margin-top: 8px;
	font-size: 11px;
}

.border-content-tag a{
	text-decoration: none;
	color: #2575bb;
	transition-duration: 0.3s;
}

.border-content-tag a:hover{
	color: #888;
}



#content-post-author-date{
	font-size: 12px;
	line-height: 19px;
	padding: 8px 6px;
    color: #333;	
}




#content-post-continue-text{
    width: auto;
    height: 25px;	
	margin-left: 5px;
    text-align: center;
    float: left;
	margin-top: 5px;
	padding-bottom: 2px;

}


#content-post-continue-text a{
    width: auto;
    height: 25px;
    color: #268ECB;
    text-decoration: none;
	text-shadow:0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15) ,0 0 6px #E00,0 2px 6px #0E0, 3px 6px 2px #00E;

    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease;
}


#content-post-continue-text a:hover, #content-post-continue-text a:focus{
    color: #000;
    padding-left: 6px;
	outline: none;
	
}

@media screen and (max-width: 560px){
	#content-post-continue-text a{font-size: 12px;}
	
}



#content-post-comment-text{
	margin-right: 5px;
    text-align: center;
    float: right;	
}


#content-post-comment-text a{
    width: auto;
    height: 29px;	
    color: #0099FF;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
	line-height: 18px;
	padding: 4px 6px 5px 6px;
	display: block;
    margin-bottom: 20px;
	background-color: #FFF;
	

	border-radius: 4px;
	box-shadow: 0px 0px 2px  #999 inset;
	border: 1px solid #0099FF;	border-left: 3px solid #444;
	border-right: 3px solid #444;
	transition-duration: 0.4s;
}

#content-post-comment-text a:hover{
	color: #fff;
	box-shadow: 0 14px 0 #0099FF inset, 0 -14px 0 #0099FF inset !important;	
}

.btn-info{
	transition: all 0.3s ease !important;
}






#clear-comment{
	clear:both;
	display: inline-block;
}






.space-left{
	margin-left: 4px;
	margin-right: 4px;
}





/* .com-da-se , .com-da-se a{
	color:#096997; 
	font-size:12px;
	text-shadow: #444 1px 1px 0px;
	font-weight: bold;
	text-decoration: none;
}
.com-da-se a:hover{
	color:#0effef;
}

.comment-bo-fo , .comment-bo-fo a{
	color:#333; 
	font-size:12px;
	text-shadow: #fff 1px 1px 0px;
} */


/* .comment-replyname , .comment-replyname a{
	color:#00f; 
	font-size:12px;
} */

#post-comment-all-body{ 
	width:100%; 
	float:left;
	background-color:#F2F2F2; 
	border-radius: 5px; 
	margin: 10px 0; 
	padding:0 0 10px 0;

}


.post-comment-center{ 
	width:98%; 
	float:left; 
	background-color: #EBEBEB; 
	
	font-weight:normal;
	border-radius: 5px; 
	margin: 10px 5px; 
	padding:0 0 3px 0;
	
	border-right: 4px solid #0099FF;
	border-bottom: 4px solid #999999;
}


.post-comment-sender{ 
	width:250px; 
	float:right; 
	text-align:right;
	line-height:27px;
}

.post-comment-sender span{ 
	font-size: 26px;
}


.post-comment-sender a{ 
	color:#0099FF;
	font-weight: normal;
	font-size: 14px;
}
.post-comment-sender a:hover{ 
	color: #999999;
}

#clear{
	clear: both;
}

.post-comment-date{ 
	width:190px; 
	float:left; 
	height:30px; 
	text-align:left; 
	direction:rtl; 
	line-height:27px; 
	padding-left:4px;
	color: #0099FF;
	font-weight: normal;
	font-size: 12px;
	
	
	/* opacity:0.6; */
}


.post-comment-body{ 
	width:97%; 
	float:left; 
	background:#FFF; 
	border-radius: 5px; 
	margin: 8px 3px; 
	padding: 7px; 
	direction:rtl; 
	text-align:right; 
	border-right: 4px solid #999999;
	border-bottom: 4px solid #0099FF;
	
	
	/* box-shadow: 0px 0px 5px rgb(62, 158, 222) inset; */
}


.post-comment-replay{ 
	width:97%; 
	float:left; 
	background:#f9f9f9; 
	border-radius: 5px; 
	margin:  8px 3px; 
	padding: 7px; 
	direction:rtl; 
	text-align:right; 
	color:#00f; 
	font-size:12px;
	border-right: 4px solid #999999;
	border-bottom: 4px solid #0099FF;
	
	/* box-shadow: 0px 0px 5px rgb(62, 158, 222) inset;; */
}
.post-comment-replay p{ 
	color:#0099FF; 
	font-size:13px;
	
}

.post-comment-new-send{ 
	width:97%; 
	float:left; 
	background:#fff; 
	color:#333; 
	font-size:12px;
	border-radius: 4px; 
	margin: 5px; 
	padding: 5px; 
	direction:rtl; 
}















.footer{
	height: 105px;
    background-color: #C4C4C4;
	background: linear-gradient(7deg ,#C4C4C4 20%,#CECECE 21%,#C4C4C4 30%,#CECECE 31%,#D3D3D3 80%,#C4C4C4 81%); 
	margin-top: 15px;
}



.footer-top{
	height: 25px;
	/* display: inline-block; */
	background-color: #D0D0D0;
	border-top: 1px solid #eee;
	font-size: 12px;
	text-align: center;
}

.footer-top a{
	font-size: 12px;
	text-align: center;
}


.footer-text{
	text-align: center;
	font-size: 12px;
	color: #0078BA;
	line-height: 20px;
}

.footer-text a{
	text-decoration: none;
	color: #000;
	transition-duration: 0.3s;
}

.footer-text a:hover{
	color: #5678ff;
}



/* ------------- BackTop ------------- */




#back-top {
    position: fixed;
    bottom: 30px;
    margin-left: -150px;
}
 
#back-top a {
    width: 40px;
    display: block;
    text-align: center;
/*     font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase; */
    text-decoration: none;
    color: #2D84C1;
 
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
	outline: none;
}
#back-top a:focus {
	outline: none;
}
 
/* arrow icon (span tag) */
#back-top span {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 7px;
  
}




.glyphicon-chevron-up {
	font-size: 40px;
	
}

.comment_form_textarea{
	width: 230px;
}
.comment_form_textarea:focus{
	
	
	box-shadow:  0 0 8px rgba(102, 175, 233, 0.6);
	outline: none;
}
/* ---------سه فیلد نام ایمیل وبسایت قسمت نظرات------ */

.comment_form_textbox{
	border: 1px solid #888888;
	background-color: #f4f4f4;
	margin-top: 2px;
	
	
	width: 175px;
	transition: all 0.4s ease;
}

.comment_form_textbox:focus{
	border-color: #66afe9;
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
	
	width: 200px;
	transition: all 0.4s ease;
}


/* ---------متون سه فیلد نام ایمیل وبسایت نظرات------ */
.comment_form_row label{
	padding-top: 2px;
	color:#444444;
	font-size: 12px;
	

}




/* ---------دکمه ارسال نظرات------- */
.btn{
	background-color: #ffffff;
	border: 1px solid #0099FF;
	color: #0099FF;
	padding: 2px 8px 4px 8px;
	margin-bottom: 4px;
	margin-top: 3px;
	transition: all 0.4s ease;
}



.btn:hover, .btn:focus{
	border-radius: 3px;
	color: #fff;
	box-shadow: 0 -44px 0 #0099FF inset !important;
	border: 1px solid #999999;
	outline: none;	
	cursor: pointer;
	transition: all 0.4s ease;
}



.btn-search{
	padding: 3px 8px 7px 8px;
	background-color: #f3f3f3;
	border: 1px solid #0099FF;
	color: #0099FF;
	transition: all 0.5s ease !important;
}

.btn-search:hover, .btn-search:focus{
	box-shadow: 0 -44px 0 #0099FF inset !important;
	color: #fff;
	border: 1px solid #999;
	outline: none;
	transition: all 0.5s ease !important;
}