body{margin:0;font-family: Tahoma;background:#6ab6ca }
.MahSkin{width:100%;float:right;direction:rtl;}
#main-back{float:right;width:100%;background:#c6ddfe}
a{TEXT-DECORATION: none;color:#000000}
a:hover{color:#000000}

#header{background:#c6ddfe url('http://cdn.persiangig.com/preview/zQZLtM2iXB/header.jpg') no-repeat top right;height:384;width:100%;color:#111111;font-size:8pt;text-align:right}
#header a{color:#065a6e;margin:0 9;font-weight:bold;}
#header a:hover{color:#000000}

.Sid{padding:0 15 0 0;}
.main{padding:0 0 0 0;}

.top-BlogTitle{width:100%;height:0}
.top-menu{width:100%;height:345;}

.top-menu2{padding:5 300}

.BlogTitle{color:#000000;text-shadow: #ffffff 1px 0px 1px;text-align:center;font-size:17pt;font-weight:bold;padding:20 0 0 450;font-family:Times New Roman;}
.Description{direction:rtl;font-size:10pt;color:#000000;text-shadow: #ffffff 1px 0px 1px;text-align:center;padding:20 0 0 450;}

.post{float:right;direction:rtl;text-align:right;width:540;overflow:hidden}
.TopPost{width:530;height:79;background:url('http://cdn.persiangig.com/preview/ymL6XeKOf6/post1.jpg') no-repeat top right;font-size:8pt;}
.TopPost a{color:#00596f}
.TopPost2{padding:30 75 4 10;}
.CenterPost{padding:10 15 5 15;background:url('http://mahskin.ir/view/310/post2.gif') repeat-y right;margin:0 0}
.LowPost{width:530;height:46;background:url('http://mahskin.ir/view/310/post3.gif') no-repeat top right;font-size:8pt;}
.date{text-align:right;color:#777777;float:right;width:435}
.date div{padding:25 55 0 0;}
.Comment{padding:15 45 0 0;text-align:right;font-size:8pt;width:100%;color:#000000}
.Comment a{color:#000000}
.Comment a:hover{color:#0870a0}

.Post-title{padding-bottom:19;font-weight:bold}
.t-date{font-size:8pt;color:#3c3c3c;width:520;height:19;padding-right:73}

.C-post{font-size:8pt;color:#333333;width:530;overflow:hidden}
.C-post a{color:#0870a0}
.pages{direction:rtl;font-size:10pt;color:#000000;text-align:center;}
.pages a{color:#000000}
.pages a:hover{color:#0870a0}

#Sidebar{float:right;direction:rtl;text-align:right;width:220;overflow:hidden}

.TopSid{width:210;height:83;background:url('http://cdn.persiangig.com/preview/6kAJvgVMHT/sid1.jpg') no-repeat top right;font-size:8pt;color:#00596f;font-weight:bold;}
.TopSid2{padding:30 90 0 0;text-align:right}
.CenterSid{width:210;font-size:8pt;color:#000000;background:url('http://mahskin.ir/view/310/sid2.gif') repeat-y top right;padding:2 0}
.CenterSid a{color:#000000;}
.CenterSid a:hover{color:#0870a0}
.li-Sid{padding:1 20 5 5;background:url('http://mahskin.ir/view/310/li.png') 194px 5px no-repeat;}
.About{padding:0 15 0 15;color:#555555;line-height:120%}
.LowSid{width:210;height:38;background:url('http://mahskin.ir/view/310/sid3.gif') no-repeat top right;}

.footer{width:1000;float:right;background: url('http://cdn.persiangig.com/preview/Y4eLLk68Xu/footer.jpg') no-repeat top right;height:90;direction:rtl;}
.footer a{color:#000000}
.footer  a:hover{color:#045073}
.Fo1{font-size:8pt;text-align:center;padding:45 0 7 0;color:#000000}