/* CSS Document */
@font-face { font-family: 'yekan'; src: url('http://ssup.ir/protemp/seri3/miashop/font/yekan.eot?#') 
format('eot'), url('http://ssup.ir/protemp/seri3/miashop/font/yekan.woff') format('woff'), 
url('http://ssup.ir/protemp/seri3/miashop/font/yekan.ttf') format('truetype'), url('http://ssup.ir/protemp/seri3/miashop/font/yekan.svg') 
format('svg'); }
* {
	box-sizing: border-box;
}
html {
	margin: 0px;
	padding: 0px;
}
body {
	direction: rtl;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma;
	font-size: 12px;
	line-height: 1.8em;
	background-color: #eee;
	color: #333333;
	text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
	font-family: yekan;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0px;
	margin: 0px;
}
h7 {
	font-family: yekan;
	font-weight: normal;
	line-height: 2em;
	color: green;
	font-size: 15px;
	padding-left: 3px;
	padding-right: 3px;
}
h8 {
	font-family: yekan;
	font-weight: normal;
	line-height: 2em;
	color: #555;
	font-size: 14px;
	padding-left: 3px;
	padding-right: 3px;
}
h9 {
	font-family: yekan;
	font-weight: bold;
	line-height: 2em;
	color: #fff;
	font-size: 20px;
}
h10 {
	font-family: yekan;
	font-weight: bold;
	line-height: 2em;
	color: #d4ff00;
	font-size: 32px;
}
h11 {
	font-family: yekan;
	font-weight: bold;
	line-height: 2em;
	color: #000;
	font-size: 16px;
}
h12 {
	font-family: yekan;
	font-weight: bold;
	color: red;
	font-size: 14px;
}
a {
	color: #00a1af;
	text-decoration: none;
}
a:hover {
	color: #000;
	transition: all ease 0.3s;
}
img {
	max-width: 100%;
	height: auto;
}
.clearfix {
	clear: both;
}
/* Header */
}
.zar1 {
	font-family: tahoma;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	line-height: 2em;
	margin-top: 10px;
}
.zar1 a {
	color: #000;
}
.zar1 a:hover {
	color: green;
}
.zar2 a {
	font-family: yekan;
	color: #00a1af;
	font-size: 15px;
	text-align: justify;
}
.zar2 a:hover {
	color: #666;
}
.zar3 {
	font-family: tahoma;
	color: #00a1af;
	font-size: 12px;
	font-weight: normal;
	line-height: 2em;
	text-align: justify;
	margin-top: 10px;
	margin-right: -20px;
}
.zar3 a {
	color: #000;
}
.zar3 a:hover {
	color: #00a1af;
}
.zar4 {
	font-family: yekan;
	color: #333;
	font-size: 14px;
	font-weight: normal;
	line-height: 2em;
	text-align: justify;
	margin-top: 10px;
}
.zar4 a {
	color: #333;
}
.zar4 a:hover {
	color: #00a1af;
/* تیک دیپلماسی */
}
.link-in-bottombar a:before {
	content: "دیپلماسی ";
	font-size: 15px;
	color: orange;
	right: 0;
	position: relative;
	transition: right 0.3s;
	padding-left: 4px;
}
.zar5 {
	font-family: yekan;
	color: #333;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.9em;
	text-align: justify;
}
.zar5 a {
	color: #333;
}
.zar5 a:hover {
	color: #00a1af;
}
.zar6 {
	font-family: yekan;
	color: #5C5C5C;
	font-size: 15px;
	text-align: justify;
	padding-top: 15px;
}
.zar6 a {
	color: #5C5C5C;
	line-height: 2.15em;
}
.zar6 a:hover {
	color: #00a1af;
}
.zar7_far {
	font-family: yekan;
	color: #5C5C5C;
	text-align: justify;
	padding-top: 15px;
}
.zar7_far a {
	font-family: yekan;
	color: #5C5C5C;
	line-height: 1.8em;
	font-size: 14px;
}
.zar7_far a:hover {
	color: #00a1af;
}
.link-in-bottombarr a:before {
	content: "»";
	font-size: 15px;
	color: orange;
	right: 0;
	position: relative;
	transition: right 0.3s;
	padding-left: 4px;
	line-height: 2.2em;
}
/* Header */
.header {
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
}
.blogtitle {
	padding: 50px 10px 50px 10px;
	text-align: center;
	position: relative;
}
.blogtitle h1 {
	font-size: 28px;
	margin-bottom: 10px;
}
.blogtitle h3 {
	font-size: 13px;
	color: #666;
}
.blogtitle a {
	color: #666;
}
.blogtitle a:hover {
	color: #00a1af;
	font-size: 14px;
}
/*Res Navi */
.topbar {
	border-bottom: 1px solid #f1f1f1;
	padding: 5px 10px;
	background-color: #fff;
}
.fast_contact {
	text-align: right;
}
.fast_contact span {
	display: inline-block;
	margin-left: 30px;
}
span.stpre_phone {
}
span.store_phone:before {
	content: "";
	font-family: webfont;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #999;
}
span.store_mail:before {
	content: "";
	font-family: webfont;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #999;
}
.navi {
	font-family: yekan;
	font-size: 14px;
}
.nav &gt; li &gt; a { padding: 5px 7px; }
.navi a {
	display: inline-block;
	margin-left: 5px;
}
.navi a:link, .navi a:visited {
	color: #999;
}
.navi a:hover {
	color: #00a1af;
	font-size: 14px;
}
#homeactive {
	color: #000;
}
.navbar-default .navbar-toggle {
	border-color: #000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
	border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #888888;
}
span.resmenu:after {
	content: '';
	font-family: webfont;
	font-size: 20px;
	color: #000;
}
/* Posts */
.mainblock_bg {
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
}
.content {
	margin-bottom: 10px;
	text-align: right;
}
.post {
	margin-bottom: 0px;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #eee;
}
.post-title {
	background-color: none;
}
.post-title:after {
	clear: both;
	display: table;
	content: '';
}
.post-title h2 {
	font-size: 16px;
	display: inline;
	color: #666;
	padding: 0px 0px 0px 0px;
}
.post-title h2:before {
	content: '';
	font-family: none;
	font-size: 0px;
	margin-left: 0px;
	vertical-align: middle;
	display: inline-block;
	background-color: #fff;
	color: #000;
	padding: 0px 0px;
}
.post-title h2 a {
	color: #666;
}
.post-title h2 a:hover {
	color: #00a1af;
}
.post-body {
	padding: 0px 0px 0px 0px;
}
.post-cnt {
	line-height: 2em;
	margin-top: 10px;
}
.post-cnt:after {
	content: '';
	display: table;
	clear: both;
}
.post-cnt a {
	color: #00a1af;
}
.post-cnt a:hover {
	color: #000;
}
.post-cnt img {
}
.post-cnt ul {
	margin: 0px;
	padding: 0px;
}
.post-cnt li {
	list-style-type: square;
	margin-bottom: 0px;
	list-style-position: inside;
}
.post-thumb {
}
.post-thumb img {
	margin-bottom: 10px;
	-ms-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.post-thumb img:hover {
	-ms-transform: scale(1.04);
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}
.post-tag {
	margin-bottom: 10px;
}
.post-tag a {
	margin-left: 5px;
	color: #666;
}
.post-tag:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.post-tag a:hover {
	color: #00a1af;
}
.post-details {
	margin-bottom: 10px;
	font-family: yekan;
	font-size: 12px;
}
.post-details a {
	color: #666;
}
.post-details a:hover {
	color: #00a1af;
}
.post-details ul {
	margin: 0px;
	padding: 0px;
}
.post-details li {
	list-style-type: none;
	display: inline-block;
	padding: 3px 3px;
}
.post-details li:last-child {
}
.post-details ul:after {
	content: '';
	display: table;
	clear: both;
}
.post-footer {
	font-family: yekan;
	font-size: 12px;
}
.post-footer a {
	color: #666;
}
.post-footer a:hover {
	color: #00a1af;
}
.post-footer ul {
	margin: 0px;
	padding: 0px;
}
.post-footer ul:after {
	content: '';
	display: table;
	clear: both;
}
.post-footer li {
	list-style-type: none;
	display: inline-block;
	padding: 7px 10px;
}
.post-footer li:last-child {
	margin-left: 0px;
	margin-right: 0px;
	float: left;
}
.postdate {
	float: left;
	margin-left: 15px;
}
.postdate:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.posttime {
	margin-left: 15px;
}
.posttime:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.postviews {
	margin-left: 15px;
}
.postviews:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.postauthor {
	margin-left: 15px;
}
.postauthor:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.postprint {
	margin-left: 15px;
}
.postprint:before {
	content: '\f02f';
	font-family: webfont;
	font-size: 16px;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.postlike {
	margin-left: 15px;
}
.postcomment {
}
.postcomment a:before {
	content: '\f0e6';
	font-family: webfont;
	font-size: 18px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.postmore {
}
.postmore a:after {
	content: '\f053';
	font-family: webfont;
	font-size: 16px;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
}
.post-related {
	margin-bottom: 10px;
}
.post-related:before {
	content: '\f08e';
	font-family: webfont;
	font-size: 18px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.post-related ul {
}
.post-related li {
	list-style-type: square;
}
.post-related li a {
}
.post-related li a:hover {
}
img.bs-profile {
	float: right;
	margin: 0px 0px 5px 10px;
}
/* Pageination 
*/
.pagenavi {
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-family: yekan;
	font-size: 14px;
	background-color: #fff;
}
.pagenavi ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.pagenavi ul:after {
	display: table;
	content: '';
	clear: both;
}
.pagenavi li {
	list-style-type: none;
	display: inline-block;
	margin: 0px 5px 5px 5px;
	list-style-position: inside;
}
.pagenavi a {
	display: block;
	background-color: #00a1af;
	color: #fff;
	padding: 5px 10px;
}
.pagenavi a:hover {
	background-color: #000;
	color: #fff;
}
li.prepage a:before {
	content: '\f054';
	font-family: webfont;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
li.nextpage a:after {
	content: '\f053';
	font-family: webfont;
	font-size: 16px;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
}
/* Sidebar */
.sidebar {
	text-align: right;
	background-color: #fff;
	padding: 10px;
}
.menubox {
	margin-bottom: 10px;
}
.menu-title {
	background-color: #f9f9f9;
	text-align: right;
}
.menu-title_zar {
	background-color: #f7f7f7;
}
.menu-title_zar h3 {
	font-weight: normal;
	font-size: 20px;
	display: inline;
	line-height: 2.25em;
	padding: 10px 0px 10px 10px;
}
.menu-title h3 {
	color: #666;
	font-weight: normal;
	font-size: 16px;
	display: inline;
	line-height: 1em;
	padding: 10px 0px 10px 10px;
}
.menu-title h3:before {
	content: '';
	font-family: webfont;
	font-size: 18px;
	vertical-align: middle;
	display: inline-block;
	font-weight: normal;
	margin: 0px 0px 0px 10px;
	background-color: #4EC7D5;
	color: #000;
	padding: 15px 10px;
}
.menu-title:after {
	display: table;
	content: '';
	clear: both;
}
.menu-body {
	padding: 5px;
	text-align: justify;
}
.menu-body ul {
	margin: 0px;
	padding: 0px;
}
.menu-body li {
	list-style-type: none;
	list-style-position: inside;
	margin-bottom: 2px;
	line-height: 1.5em;
}
.menu-body li span {
	margin-right: 0px;
	background-color: #fff;
}
.menu-body li a {
	display: block;
	padding: 2px 2px;
	color: #333;
	font-size: 12px;
}
.menu-body li a:before {
	content: '\f104';
	margin-left: 5px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 12px;
	display: inline-block;
}
.menu-body li a:hover {
	color: #00a1af;
}
.menu-body a {
	color: #00a1af;
}
.menu-body a:hover {
	color: #000;
}
.menu-body img {
	margin-bottom: 0px;
}
/* Menus Special Option */
.aboutme {
}
.aboutme .menu-title h3:before {
	content: '';
}
.newposts {
}
.newposts .menu-title h3:before {
	content: '';
}
.catbox {
}
.catbox .menu-title h3:before {
	content: '';
}
.catbox ul li a:before {
	content: '';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
}
.catbox ul li ul {
	margin-right: 15px;
	margin-bottom: 10px;
}
.catbox ul li ul li {
}
.catbox ul li ul li a:before {
	content: '';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
}
.writers {
}
.writers .menu-title h3:before {
	content: '';
}
.writers ul li a:before {
	content: '';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
}
.visited {
}
.visited .menu-title h3:before {
	content: '';
}
.liked {
}
.liked .menu-title h3:before {
	content: '';
}
.cmnted {
}
.cmnted .menu-title h3:before {
	content: '';
}
.tagbox {
}
.tagbox .menu-title h3:before {
	content: '';
}
.tagbox ul {
	text-align: center;
}
.tagbox li {
	display: inline-block;
	margin: 2px 2px;
}
.tagbox li a {
	display: inline-block;
	padding: 2px 6px;
	background-color: #eee;
	border-radius: 4px;
	color: #000;
}
.tagbox li a:hover {
	background-color: #00a1af;
	color: #fff;
}
.tagbox li a:before {
	content: none;
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 12px;
	display: inline-block;
}
.lastcmnt {
}
.lastcmnt .menu-title h3:before {
	content: '\f27b';
}
.archive {
}
.archive .menu-title h3:before {
	content: '\f187';
}
.dailylink {
}
.dailylink .menu-title h3:before {
	content: '';
}
.links {
}
.links .menu-title h3:before {
	content: '';
}
.links ul li a:before {
	content: '';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
}
.adv {
}
.adv .menu-title h3:before {
	content: '';
}
.adv li {
}
.adv li a {
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}
.adv 
li:nth-child(odd) a { background-color: #eee; color:#000; }
.adv li:nth-child(even) 
a { background-color: #f9f9f9; color: #000;}
.adv li:nth-child(odd) a:hover, .adv 
li:nth-child(even) a:hover {background-color: #00a1af; color: #fff;}
.adv ul li a:before {
	content: '';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
}
.stats {
}
.stats .menu-title h3:before {
	content: '';
}
.stats li {
	border-bottom: 1px dashed #ccc;
	padding: 5px;
}
.stats li:hover {
	background-color: #f9f9f9;
}
.stats li span {
	display: inline-block;
	padding: 1px 1px;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1em;
	float: right;
	background-color: #fff;
}
.stats li:after {
	display: table;
	content: '';
	clear: both;
}
.searchbox {
}
.searchbox .menu-title h3:before {
	content: '';
}
.etcpages {
}
.etcpages .menu-title h3:before {
	content: '';
}
.blogtools {
}
.blogtools .menu-title h3:before {
	content: '';
}
.ultrabox {
}
.ultrabox .menu-title h3:before {
	content: '';
}
.userpanel {
}
.userpanel .menu-title h3:before {
	content: '';
}
.randomp {
}
.randomp .menu-title h3:before {
	content: '';
}
.autolink {
}
.autolink .menu-title h3:before {
	content: '';
}
.newspaper {
}
.newspaper .menu-title h3:before {
	content: '';
}
.polls {
}
.polls .menu-title h3:before {
	content: '';
}
.calendarbox {
}
.calendarbox .menu-title h3:before {
	content: '';
}
/*********** 
SOCIAL menu box ****************/
.socialbox {
}
.socialbox ul {
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}
.socialbox li {
	display: inline-block;
	border: none;
	margin: 0px 0px 5px 5px;
}
.socialbox li a {
	text-align: center;
	color: #999;
	padding: 0px;
	font-size: 24px;
	width: 30px;
	height: 30px;
	line-height: 1em;
	margin: 0px;
	display: inline-block;
}
.socialbox li a:hover {
	color: #00a1af;
}
.socialbox li a:before {
	margin: 0px;
	display: inline-block;
}
#social-rss:before {
	content: '\f09e';
	font-family: webfont;
}
#social-facebook:before {
	content: '\f09a';
	font-family: webfont;
}
#social-instagram:before {
	content: '\f16d';
	font-family: webfont;
}
#social-telegram:before {
	content: '\f2c6';
	font-family: webfont;
}
#social-twitter:before {
	content: '\f099';
	font-family: webfont;
}
#social-google:before {
	content: '\f0d5';
	font-family: webfont;
}
#social-linkedin:before {
	content: '\f0e1';
	font-family: webfont;
}
#social-youtube:before {
	content: '\f167';
	font-family: webfont;
}
#social-vimeo:before {
	content: '\f27d';
	font-family: webfont;
}
#social-pinterest:before {
	content: '\f231';
	font-family: webfont;
}
#social-flickr:before {
	content: '\f16e';
	font-family: webfont;
}
#social-yahoo:before {
	content: '\f19e';
	font-family: webfont;
}
/* Slider 
*/
.myslider {
	direction: ltr;
	padding: 10px;
	border: 1px solid #DCDCDC;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}
/* Footer */
.btmbar {
	background-color: #222;
	padding: 10px 10px 5px;
}
.footer {
	color: #fff;
	padding-bottom: 50px;
}
.copyright {
	padding: 5px;
	font-family: yekan;
	font-size: 14px;
	text-align: right;
}
.copyright:before {
	content: '\f1f9';
	margin-left: 7px;
	vertical-align: middle;
	font-family: webfont;
	font-size: 18px;
}
.copyright a {
	color: #00a1af;
	display: block;
	margin: 10px auto;
}
.copyright a:hover {
	color: #fff;
}
.designer {
	padding: 5px;
	font-family: yekan;
	font-size: 14px;
	text-align: left;
}
.designer a {
	color: #00a1af;
}
.designer a:hover {
	color: #fff;
}
/* Comment block */
.cmntblock {
	margin-bottom: 15px;
	padding: 10px;
	color: #333;
	background-color: #fff;
}
.cmntblock a {
	color: #000;
}
.cmntblock a:hover {
	color: #00a1af;
}
.cmntblock form {
	padding: 10px;
}
.cmntblock label {
	margin-bottom: 10px;
	font-family: yekan;
	margin-left: 20px;
	font-size: 14px;
}
.cmntblock input[type=text] {
	width: 100%;
	margin-bottom: 10px;
	min-height: 30px;
	border: 1px solid #ccc;
	margin-top: 10px;
	font-family: Tahoma;
	font-size: 12px;
}
.cmntblock input[type=text]:focus, .cmntblock input[type=text]:hover {
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	transition: all ease 0.3s;
}
.cmntblock textarea {
	font-family: Tahoma;
	font-size: 12px;
	margin-bottom: 10px;
	min-height: 150px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 10px;
}
.cmntblock textarea:focus, .cmntblock textarea:hover {
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	transition: all ease 0.3s;
}
.cmntblock button[type=submit] {
	border-radius: 4px;
	border: 0px;
	padding: 3px 10px;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 14px;
}
.cmntblock input[type=button]:hover {
	background-color: #000;
	color: #fff;
	transition: all ease 0.3s;
}
.cmntblock input[type=button] {
	border-radius: 4px;
	border: 0px;
	padding: 3px 10px;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 14px;
}
.cmntblock button[type=submit]:hover {
	background-color: #000;
	color: #fff;
	transition: all ease 0.3s;
}
.cmnt-count {
	margin-bottom: 20px;
	font-family: yekan;
	font-size: 16px;
}
.cmnt-list {
}
.cmnt-list ul {
	margin: 0px;
	padding: 0px;
}
.cmnt-list li {
	list-style-type: none;
	margin-bottom: 15px;
	padding: 5px;
}
.cmnt-list li:nth-child(odd) { }
.cmnt-list li:nth-child(even) 
{ }
.cmnt-box {
}
.cmnt-title {
	padding: 5px;
}
.cmnt-title:after {
	display: table;
	content: '';
	clear: both;
}
.cmnt-user {
	width: 48%;
	float: right;
}
.cmnt-user span {
	display: inline-block;
}
.cmnt-user img {
	vertical-align: middle;
}
img.user-avatar {
	display: inline-block;
	width: 40px;
	height: auto;
	vertical-align: middle;
}
.cmnt-user:before {
	content: '';
	font-family: webfont;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.cmnt-date {
	width: 48%;
	float: left;
	text-align: left;
}
.cmnt-date:before {
	content: '\f017';
	font-family: webfont;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.cmnt-body {
}
.cmnt-text {
	padding: 10px;
	margin-bottom: 10px;
}
.cmnt-reply {
	padding: 10px;
}
.cmnt-reply:before {
	content: '\f122';
	font-family: webfont;
	font-size: 16px;
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.cmnt-form {
	border: 1px solid #eee;
	padding: 10px;
}
.bs-sender .cmnt-user:before {
	content: '';
	margin-left: 0px;
}
.bb-cmntblock {
	background-color: #fff;
	margin-bottom: 15px;
	border-bottom: 3px solid #ddd;
	padding: 10px;
	color: #333;
}
.rozcblock input[type=text] {
	width: inherit;
	margin-bottom: 10px;
	min-height: 30px;
	border: 1px solid #ccc;
	margin-top: 10px;
	font-family: Tahoma;
	font-size: 12px;
}
.mihanb textarea {
	width: 100%;
}
.msgtitle {
	float: none!important;
	width: 100%!important;
}
.msgbody {
	float: none!important;
	width: 100%!important;
}
#recaptcha_aparat_login div {
	width: 100%!important;
}
.commentrb input[type=email] {
	width: 100%!important;
}
input#comment_cap {
	width: inherit!important;
}
/* Search */
.blogsearch {
	text-align: center;
}
.blogsearch:after {
	content: '';
	clear: both;
	display: table;
}
.blogsearch form {
}
.blogsearch input[type=text] {
	font-family: Tahoma;
	font-size: 11px;
	height: 25px;
	background: none;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 4px;
	padding: 3px 5px;
	color: #333;
	border: 1px solid #999;
	margin-bottom: 5px;
}
.blogsearch input[type=submit] {
	font-family: Tahoma;
	font-size: 11px;
	height: 25px;
	padding: 3px 10px 5px 10px;
	border: 0px;
	border-radius: 4px;
	color: #000;
	background-color: #ccc;
}
.blogsearch input[type=submit]:hover {
	background-color: #000;
	color: #fff;
}
/* other Style */
.rozpage {
}
.rozpage a {
	display: inline-block;
	padding: 3px 8px;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 14px;
	margin: 5px;
}
.rozpage a:hover {
	background-color: #666;
	color: #fff;
}
#forum-box {
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 100%;
	font-size: 12px;
}
#forum-box td {
	border: 1px solid #ccc;
	padding: 3px;
	text-align: center;
	box-sizing: border-box;
}
.forum-onvan {
	width: 45%;
}
.forum-pasokh {
	width: 15%;
}
.forum-bazdid {
	width: 15%;
}
.forum-nevisa {
	width: 25%;
}
.poll-vote {
	margin: 5px 0;
	padding: 0;
}
.poll-vote li {
	list-style: none;
	color: #333;
}
.poll-answer {
	margin: 12px 0 5px 0;
}
.poll-result-box {
	width: 150px;
	height: 20px;
	border: 1px solid #D1D1D1;
	background-color: white;
}
.poll-result-vote-percent {
	padding-top: 3px;
	height: 17px;
	background-color: #C9C9C9;
	text-align: center;
}
.message {
	padding: 5px 0;
	font-weight: normal;
	color: red;
}
.sharing {
	padding: 10px 0;
}
.sharing a {
	background: url("http://www.blogsky.com/images/template/blue/sharing.gif") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 16px;
	margin-left: 10px;
	width: 16px;
}
#calendar {
	color: #194685;
	text-align: center;
	width: 100%;
}
#calendar table td {
	text-align: center;
	padding: 3px;
}
#calendar .week-days {
	color: #194685;
	background-color: #e7e7e7;
}
#calendar .day-off {
	color: #777;
	font-size: 7pt;
}
#calendar .day-on a {
	color: #f50;
	text-decoration: none;
	font-size: 7pt;
}
#calendar .day-on a:hover {
	color: #f50;
	text-decoration: underline;
}
.rate {
	color: #777;
	position: relative;
	margin-bottom: 5px;
}
.rate .plus {
	cursor: pointer;
	margin-right: 2px;
}
.rate .minus {
	cursor: pointer;
	margin-right: 4px;
}
.rate .message {
	padding: 5px;
	background-color: white;
	border: 1px solid #B3B9C3;
	position: absolute;
	display: none;
	white-space: nowrap;
	opacity: 0.9;
	color: red;
	top: -5px;
	right: 30px;
}
.bs-validation-summary-errors {
	background-color: #FFEEEE;
	border: 1px solid red;
	color: red;
	margin-bottom: 10px;
	padding: 5px 20px 5px 5px;
}
.bs-validation-summary-errors li {
	padding: 1px 0;
}
#contact-box, #form-box {
	direction: rtl;
	border: 0;
	margin: auto;
}
#contact-box th, #form-box th {
	text-align: right;
	width: 70px;
	font-weight: normal;
}
#contact-box td, #form-box td {
	text-align: right;
	width: 315px;
}
#contact-box input[type=text], #form-box input[type=text] {
	font-size: 10pt;
	padding: 3px;
	width: 280px;
	border: 1px solid #AFAFAF;
}
#contact-box textarea, #form-box textarea {
	font-size: 10pt;
	padding: 3px;
	width: 354px;
	height: 160px;
	border: 1px solid #AFAFAF;
}
.bs-input-validation-error {
	background-color: #FFEEEE;
}
#smiley-box {
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 10;
	left: 0;
	border: 1px solid #999;
	width: 155px;
	padding: 2px;
}
#smiley-box img {
	cursor: pointer;
	margin: 2px;
}
#gravatar-help {
	direction: rtl;
	padding: 10px 0;
	text-align: center;
}
.gravatar {
	float: left;
}
.html {
	direction: ltr;
	text-align: left;
}
.bs-ltr {
	direction: ltr;
	text-align: left;
}
#bs-input-search {
	width: 100px;
}
.bs-captcha-box {
	margin: 5px 0;
	text-align: center;
}
.bs-captcha-image {
	vertical-align: bottom;
}
.bs-captcha-refresh {
	background: url("http://www.blogsky.com/images/template/blue/reload.gif") no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	width: 22px;
	vertical-align: bottom;
	border: 1px solid #afafaf;
}
.bs-captcha-code {
	color: #000000;
	direction: ltr;
	font-family: verdana !important;
	font-size: 14pt !important;
	font-weight: bold;
	padding: 2px !important;
	text-align: left;
	text-transform: uppercase;
	width: 85px !important;
	height: 20px;
	letter-spacing: 3px;
}
#contact-box .bs-captcha-code {
	width: 110px !important;
}
#contact .header {
	margin: 10px auto;
	width: 400px;
}
#contact .title {
	font-weight: bold;
	font-size: 9pt;
}
#contact .message {
	color: red;
	direction: rtl;
	text-align: right;
	margin-top: 10px;
}
/* rating */
.rate-button-box.rated {
	font-weight: bold;
}
.rate-up, span.rateup {
	color: #090;
	margin-left: 5px;
}
.rate-down, span.ratedn {
	color: #A00;
	padding: 5px;
}
img.rateimg, img.renew, img.rateup, img.ratedn {
	background: url(http://cdn.bayan.ir/blog/templates/4048/pd_ico_rate.png) no-repeat center left;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}
.rate-down img.rateimg, img.ratedn {
	background-position: -3px -25px;
}
.rate-up img.rateimg, img.rateup {
	background-position: -3px -5px;
}
@media only screen and (max-width: 
768px) {
.navi {
	text-align: right;
	border-bottom: 1px solid #ccc;
}
}
/************************************************ 
Shop **************************************************/
.pstyle {
	margin: 0px 10px 20px 10px;
	background-color: #f9f9f9;
	text-align: right;
	line-height: 1em;
}
.pstyle h3 {
	font-size: 18px;
}
/* Big Slider */
.bigslider {
	direction: ltr;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #f1f1f1;
}
.item {
	position: relative;
}
.descript {
	position: absolute;
	top: 40px;
	right: 100px;
	background-color: rgba(255,255,255,0.90);
	padding: 20px;
	text-align: right;
	direction: rtl;
	max-width: 40%;
}
.descript h2 {
	font-size: 30px;
}
.descript a h2 {
	color: #666;
}
.descript a:hover h2 {
	color: #00a1af;
}
.descript p {
	font-family: yekan;
	font-size: 16px;
}
.bigslider_more {
	text-align: left;
}
.bigslider_more a {
	display: inline-block;
	padding: 5px 10px 10px 10px;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 16px;
	line-height: 1em;
}
.bigslider_more a:hover {
	background-color: #000;
	color: #fff;
}
/* Service Review */
.service_review {
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
}
.sr_icon {
	text-align: center;
	min-height: 100px;
}
.sr_icon:before {
	vertical-align: sub;
	display: inline-block;
	color: #00a1af;
	font-family: Flaticon;
	font-size: 50px;
	margin-top: 30px;
}
.sr_icon_1:before {
	content: "\e02b";
}
.sr_icon_2:before {
	content: "\e00f";
}
.sr_icon_3:before {
	content: "\e00c";
}
.sr_icon_4:before {
	content: "\e011";
}
.sr_text {
	text-align: right;
	min-height: 100px;
}
.sr_text h3 {
	font-size: 16px;
	margin-bottom: 0px;
	line-height: 1.5em;
}
.sr_text p {
}
/* OFFer Products */
.offer_products {
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
}
.ofp_title {
}
.ofp_title h3 {
}
.ofp_title h3:before {
	content: "\f0a7";
	font-family: webfont;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	background-color: #ccc;
	padding: 10px 10px;
	color: #000;
}
.ofp_item {
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.ofp_img_box {
}
.ofp_img_box img {
}
.ofp_text_box {
	text-align: right;
	margin-bottom: 10px;
}
.ofp_text_box h2 {
	font-size: 20px;
}
.ofp_text_box h2 a {
	color: #666;
}
.ofp_text_box h2 a:hover {
	color: #00a1af;
}
.ofp_text_box p {
	text-align: justify;
}
.ofp_text_box ul {
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}
.ofp_text_box li {
	list-style-type: none;
	margin-bottom: 5px;
}
.ofp_text_box li:before {
	content: "\f046";
	font-family: webfont;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}
.ofp_box_more a {
	display: inline-block;
	padding: 10px 10px 10px;
	line-height: 1em;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 14px;
}
.ofp_box_more a:hover {
	background-color: #000;
	color: #fff;
}
/* NEWEST Products */
.newest_products {
	background-color: #fff;
	padding: 10px;
	margin: 10px auto;
}
.np_title {
}
.np_title h3 {
}
.np_title h3:before {
	content: "\f0a1";
	font-family: webfont;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	background-color: #ccc;
	padding: 10px 10px;
	color: #000;
}
.np_item {
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.np_box {
	margin-bottom: 10px;
}
.np_box img {
}
.np_box h2 {
	font-size: 16px;
}
.np_box h2 a {
	color: #666;
}
.np_box h2 a:hover {
	color: #000;
}
.np_box_more {
}
.np_box_more a {
	display: inline-block;
	padding: 10px 10px 10px;
	line-height: 1em;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 14px;
}
.np_box_more a:hover {
	background-color: #000;
	color: #fff;
}
/* Selected Product */
.selected_product {
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
}
.sp_title {
}
.sp_title h3 {
}
.sp_title h3:before {
	content: "";
	font-family: webfont;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	background-color: #ccc;
	padding: 10px 10px;
	color: #000;
}
.sp_img_box {
}
.sp_item {
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
}
.sp_text_box {
	margin-bottom: 10px;
}
.sp_text_box h2 {
	font-size: 24px;
}
.sp_text_box h2 a {
	color: #666;
}
.sp_text_box h2 a:hover {
	color: #000;
}
.sp_text_box p {
	font-family: yekan;
	font-size: 14px;
}
.sp_more_box {
}
.sp_more_box a {
	display: inline-block;
	padding: 10px 10px 10px;
	line-height: 1em;
	background-color: #00a1af;
	color: #fff;
	font-family: yekan;
	font-size: 16px;
}
.sp_more_box a:hover {
	background-color: #000;
	color: #fff;
}
/* Store Map &amp; Contacts */
.map_contact {
	background-color: #fff;
	padding: 0px;
	border-bottom: 1px solid #f1f1f1;
}
.our_c {
}
.our_c h3 {
	font-size: 20px;
}
.our_c p {
}
.our_c ul {
	margin: 0px 0px;
	text-align: right;
}
.our_c li {
	list-style-type: none;
	margin-bottom: 10px;
	font-family: yekan;
	font-size: 14px;
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.our_c li p:before {
	content: "\f0d7";
	font-family: webfont;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.our_c li span {
	float: right;
}
.our_c li:after {
	content: "";
	clear: both;
	display: table;
}
.our_c li p {
	margin: 0px;
	padding: 0px;
}
.our_c 
li:nth-child(1) p:before { content: "\f095" }
.our_c li:nth-child(2) p:before { 
content: "\f10b" }
.our_c li:nth-child(3) p:before { content: "\f1ac" }
.our_c li:nth-child(4) 
p:before { content: "\f0e0" }
.our_c li:nth-child(5) p:before { content: "\f041" 
}
.our_map {
}
.our_map img {
}
/* Bottom Menu */
.btm_menus {
	background-color: #fff;
	padding: 20px;
	border-bottom: 1px solid #f1f1f1;
	text-align: right;
}
.btm_menus .menubox {
	border-left: 1px solid #eee;
}
/* Res */
@media (max-width: 768px) {
.descript {
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.70);
	max-width: 100%;
}
.descript h2 {
	font-size: 18px;
	margin-bottom: 10px;
}
.descript p {
	display: none;
}
.bigslider_more {
	text-align: center;
}
.zar-triboun {
	text-align: justify;
	font-family: webfont;
	content: '\f02f';
}
.zar-c {
	text-align: center;
	float: center;
}
