@font-face {
	font-family: 'BBardiya';
	src: url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/BBardiya963212.eot') format('eot'),
	url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/BBardiya321008.ttf') format('truetype'),
	url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/BBardiya194603.woff') format('woff');
}
@font-face {
	font-family: 'yekan';
	src: url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/Yekan95931.eot') format('eot'),
	url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/Yekan906519.ttf') format('truetype'),
	url('http://up.ghalebgraph.ir/up/galebgraph/file/1395/03/Yekan533085.woff') format('woff');
}
::selection {
    background: #55d049;
}
*{margin:0;padding: 0;}
html{/* height: 100% */;}
body{background: url('img/bg.jpg');background-repeat: no-repeat;background-attachment: fixed;background-position: center;background-size: cover;height: 100%;}
header{color:white;width: 70rem;margin: 0 auto;user-select:none;-webkit-user-select:none;}
header h1{width: 30%;position: relative;top: 1.5rem;right: 1.5rem;text-shadow: 0px 0px 10px #000}
header h1 a{text-decoration: none;color: white}
header h1:hover{text-shadow: 0px 0px 12px rgb(199, 83, 83),0px 0px 14px rgb(199, 83, 83),0px 0px 16px rgb(199, 83, 83),0px 0px 18px rgb(199, 83, 83),0px 0px 20px rgb(199, 83, 83),0px 0px 22px rgb(199, 83, 83),0px 0px 24px rgb(199, 83, 83),0px 0px 26px rgb(199, 83, 83),0px 0px 28px rgb(199, 83, 83),0px 0px 30px rgb(199, 83, 83),0px 0px 32px rgb(199, 83, 83),0px 0px 34px rgb(199, 83, 83),0px 0px 36px rgb(199, 83, 83),0px 0px 38px rgb(199, 83, 83),0px 0px 40px rgb(199, 83, 83);}
/* main{width: 70rem;margin: 0 auto;position: relative;margin-top: 3rem;} */
main{background: rgba(255, 255, 255, 0.68);width: 70rem;margin: 0 auto;margin-top: 3rem !important;}
footer{width: 70rem;background: #c75353;background-image: url('img/bg.li.png');height: 3rem;margin: 0 auto;}
footer ul{margin-left: 1rem}
footer ul li{display: inline-block;width: 3rem;height: 3rem;border-radius: 2rem;float: left;transition: all .3s;margin-left: .2rem;transform: scale(.8, .8)}
footer ul li:hover{transform: scale(.95, .95)}
footer ul li:nth-child(1) a{background:url('img/telegram.png');background-size: 100% 100%;background-repeat: no-repeat;width: 100%;height: 100%;display: block}
footer ul li:nth-child(2) a{background:url('img/Instagram.png');background-size: 100% 100%;background-repeat: no-repeat;width: 100%;height: 100%;display: block}
footer ul li:nth-child(3) a{background:url('img/linkedin.png');background-size: 100% 100%;background-repeat: no-repeat;width: 100%;height: 100%;display: block}
footer ul li:nth-child(4) a{background:url('img/twitter.png');background-size: 100% 100%;background-repeat: no-repeat;width: 100%;height: 100%;display: block}


content{width: 100%;display: flex;justify-content: space-around;margin-top: 1.5rem; }

nav{z-index: 1;position: relative;width: 100%;background: rgb(199, 83, 83);font-family: "BBardiya","yekan";user-select:none;-webkit-user-select:none;}
nav ul{width: 96%;margin-right: 3rem;position: relative}
nav ul li{position: relative;transition: all .3s;padding:0.6rem;display: inline-table;width:5rem;text-align: center;}
#search-box{width: 20rem;float: left;display: inline-table;color: #fff}
#search-box input[type='text']{width: 15rem;height: 1.5rem;font-family: 'BBardiya',"yekan";font-size: 1rem;text-align: center}
#search-box button{border: none;width: 4rem;font-family: 'BBardiya',"yekan";background: rgb(111, 60, 60);color: white;font-size: 1rem;cursor: pointer;}
nav ul li a{color:#fff;text-decoration: none;transition: all .2s;width: 100%;display: block}
#search-box:hover{background:transparent}
.ul2{position: absolute;right: 0;top: 2.93rem;background: #ad4848;width: 15.5rem;margin: 0;border-radius: 0rem 0rem 0.5rem 0.5rem;display: none;}
.ul2 li{display: block;width: 100%;padding:0.4rem 0rem;}
.ul2 li:hover a{color: lightgreen}
#show-menu{display: none}
#show-menu-lb{display: block;content: ' ';width: 3rem;height: 3rem;background: /* transparent */;margin-right: 1rem;display: none;}
#show-menu:checked + label span{transform: rotate(-90deg);}
#show-menu-lb span{transition: all .3s;width: 2.5rem;background: url('img/MN.png');background-repeat: no-repeat;background-size: 100% 100%;position: relative;margin: 0 auto;top: 0.5rem;height: 2rem;display: block;cursor: pointer}
/* nav ul #colors{position: absolute;top:0rem;right: 32rem;width: 15%}
nav ul #colors li{width: 1rem;height: 1rem;cursor: pointer}
nav ul #colors li:nth-child(1){background: rgb(199, 83, 83)}
nav ul #colors li:nth-child(2){background: rgb(94, 109, 220)}
nav ul #colors li:nth-child(3){background: rgb(62, 153, 128)}
nav ul #colors li:nth-child(4){background: rgb(164, 152, 67)} */
.post{margin-bottom: 1.5rem}
.right{width: 30%;}
.left{width: 69%;}
.left .foot a{color: white}
.right .post{right: 1.4rem;width: 90%}
.right a{font-weight: 100 !important}
.post{position: relative;width: 97%;border: 1px solid #c75353;}
.head{height: 1.6rem;font-family: "BBardiya","yekan";width: 100%;background: rgb(199, 83, 83);padding: .2rem 0rem;font-family: 'BBardiya',"yekan"}
.head span{position: relative;right: 1rem;}
span h1{font-size: .9rem}
.body{width: 100%;background: rgba(255, 255, 255, 0.67);font-family: 'yekan'}
.left .foot{width: 100%;padding: .2rem 0rem;background: rgb(199, 83, 83);font-family: "BBardiya","yekan";}
.head a {color: white !important;text-decoration: none;}
.body span {position: relative;display: block;padding: 2rem;line-height: 1.8rem;}
.body a{text-decoration: none;color: rgb(199, 83, 83);font-weight: bold}
.left .foot span {height: 1.75rem;position: relative;display: block;right: 1rem;color: white}
.body h1{display: inline-block;padding: 0.2rem}
.body span div{font-size: 1rem}
.body span div h1{font-size: inherit}
/* footer{width: 70rem;height: 10rem;background: rebeccapurple;margin: 0 auto;position: relative;} */
 .pop{width: 96%;height: 10rem;display: flex;flex-wrap: wrap;justify-content: space-around;margin: 0 auto;margin-top: 1rem !important;margin-bottom: 1rem !important;border-bottom: 0.1rem dotted #000;}
 #pop{width: 49.5%;height: 47%;background-image: url('img/pop.png');border: 1px solid #6b6b6b;background-color: rgba(255, 255, 255, 0.72);background-size: 100% 100%;}
.post a{color: #000;transition: all .2s;text-decoration: none}
.post a:hover{color: #19B968}
.newsletter{right: 1.4rem !important;width: 87%;margin-bottom: 1rem;margin-right: 1.4rem;border: 0.4rem solid;border-image: url("img/news.border.png") 45 round;background-color: rgba(255, 255, 255, 0.56);text-align: center;font-family: "BBardiya","yekan";padding: 1rem 0rem;}
.newsletter input[type="email"]{width: 90%;text-align: center;font-family: "BBardiya","yekan";outline: none;height: 2rem;font-size: 1rem;}
.newsletter input[type="submit"]{width: 90%;border: .1rem solid #cccbca;font-family: "BBardiya","yekan";outline: none;cursor: pointer;transition: all .15s;height: 2rem;font-size: 1rem;}
.newsletter input[type="submit"]:active{background: rgb(199, 83, 83);}
#side a{font-weight: 100;}
/* div#side .body li{list-style-image: url('img/li.side.png');transition: all .2s;cursor: default;} */
/* div#side .body li:hover{margin-right: 1rem;color: #de4558;} */
div .post .body li{position: relative;right: 0;list-style-image: url('img/li.side.svg');transition: all .2s}
div .post .body li:hover{color: #de4558;right: 1rem}
@media only screen and (max-width: 1280px){html{font-size: 14px}}
@media only screen and (max-width: 980px){html{font-size: 13px}}
@media only screen and (max-width: 800px){
	html{font-size: 12px}
	.post .body div{font-size:1.5rem;line-height:2.5rem}
	content{width: 94%;display: flex;margin-top: 1.5rem;flex-direction: column-reverse;margin: 0 auto;}
	main{width: 55rem}
	.left{width: 100% !important}
	.right{width: 100% !important;display: flex;flex-wrap: wrap;}
	.post{font-size:1.3rem;position: relative;width: 100% !important;border: 1px solid #c75353;background: rgba(255, 255, 255, 0.67);}
	.right .post{right:0rem;width: 49% !important;margin: 0 auto;margin-bottom: 1rem !important;right: 0 !important;}
	.newsletter{margin-right: 0;padding: 3rem 0rem;width: 100%;border: 0.4rem solid;border-image: url('img/news.border.png') 45 round;background-color: rgba(255, 255, 255, 0.56);}
	.newsletter input[type="email"]{width: 90%;text-align: center;font-family: "BBardiya","yekan";outline: none}
	.newsletter input[type="submit"]{width: 90%;border: .1rem solid #cccbca;font-family: "BBardiya","yekan";outline: none;cursor: pointer;transition: all .15s}
	#show-menu-lb{display: block}
	nav{font-size: .8rem !important}
	nav ul {display: none;transition:none;margin: 0;width: 100%;position: absolute;z-index: 1}
	nav ul li{background: #ad4848;display: block;width: 100%;padding: .9rem 0rem;opacity: 1;visibility: visible;}
	nav ul li:hover a{color: lightgreen}
	nav ul li:hover ul li a{color: white}
	#search-box{width: 99.7%;padding: 0 !important;border:1px solid;}
	nav ul li .ul2 {width: 100%;height: inherit;position: relative; opacity: 1;visibility: visible;margin:0;display: none}
	nav ul li .ul2 li{width: 100%;background: #913C3C}
	nav ul li .ul2 li:last-child{margin-bottom: 2.2rem;}
	#search-box input[type='text']{outline: none;width: 100%;border:none;height: 2.5rem;background: rgba(0, 0, 0, .2);color: white;text-align: center;font-family: 'BBardiya',"yekan";font-size: 1.1rem}
	#search-box button{height: 50%;font-size: 1rem;border: none;width: 100%;cursor: pointer;outline: none;background: rgb(99, 44, 44);color: white;font-family: BBardiya;,"yekan"}
	#search-box:hover{background: #ad4848}
	#colors{display: none}
	footer{width: 55rem;}
	header{width: 55rem}
	header h1{width: 50%}
	#side .body{background:none}
	#side{background: rgba(255, 255, 255, 0.67);width: 32% !important}	
	.post .body ul{position: relative;right: 0.5rem}
	#side1{width: 49% !important}
	.body{background: none}
	.post .head{height: 2.6rem !important}
	.head h1{font-size: 1.4rem !important}
	.foot span{height: 2.6rem !important;font-size: 1.4rem !important}
	
	
}	
@media only screen and (max-width: 768px){
	html{font-size: 11px}
}
@media only screen and (max-width: 590px){
	html{font-size: 9px}
	.post .body ul{position: relative;right: 2rem}
}
@media only screen and (max-width: 530px){
	html{font-size: 7px}	
	#pop{width: 49%}
}
@media only screen and (max-width: 360px){
	html{font-size: 6px}
}
@media only screen and (max-width: 320px){
	html{font-size: 5.5px}
}

#page{width: 100%;text-align: center}
#page li{display: inline-table;padding: .5rem;border: .1rem solid #000;}
#page li:hover{right: 0}
#page li span{padding: .2rem !important;}
.post.comment{font-family: 'yekan';background: rgba(255, 255, 255, 0.67);}
.comm{padding: 1rem 1.5rem;border: 1px solid;width: 90%;margin: 0 auto;border-radius: .2rem;margin-bottom: 1rem;margin-top: 1rem;}
.pcomm{padding: 1rem 1.5rem;background:rgba(255, 97, 97, 0.7);margin-top: 1rem;border-radius: 1rem;transition: all .2s;    margin-bottom: 1rem;}
.pcomm:hover{border-radius: .2rem;}
.comm span{}
span.comm_date{width: 100%;display: block;direction: ltr;position: absolute;left: 2rem;}
span.comm_link{direction: ltr;width: 100%;display: block;}
.post form{padding: 2rem 3rem;font-family: 'yekan';}
.post form textarea{width:100%;}
.post form input[type="submit"]{cursor: pointer;padding: 0.4rem 1.5rem;background: #319429;border: .1rem;font-family: 'yekan';}