


@charset "utf-8";
/* CSS Document */

body{margin:0;font-family: Tahoma;background-color:#9D7557}
.Pichak{width:1200;float:right;direction:rtl;}
#main-back{float:right;width:1200px;background-color:#69493A;}
a{TEXT-DECORATION: none;color:#000000}
a:hover{color:#000000}

#header{background:#69493A ; background-image:url(ee01.jpg);height:230;width:1200;color:#838383;font-size:8pt;text-align:right}
#header a{color:#ffffff;margin:0 6;text-shadow: #777777 -1px 0px 4px;font-weight:bold;}
#header a:hover{color:#035266}

.Sid{padding:0 5 0 0;width:1200 px;}
.main{padding:0 0 0 0;width:1200px;}

.top-BlogTitle{width:100%;height:30}
.top-menu{width:1200;height:200;}

.top-menu2{padding:0 37;}

.BlogTitle{color:#000;text-align:left;font-size:24pt;font-weight:bold;padding:10 0 0 400;font-family:Times New Roman;}
.Description{direction:rtl;font-size:16pt;color:#F00;text-align:left;padding:30 0 0 400;}

.post{float:right;direction:rtl;text-align:right;width:743;overflow:hidden;}
.TopPost{width:743;height:57;background-image:url(ee09.gif);font-size:8pt;}
.TopPost a{color:#ffffff}
.TopPost2{padding:25 70 4 10;}
.CenterPost{padding:10 50 5 50;background-image:url(ee14.gif);margin:0 0}
.LowPost{width:743;height:37;background-image:url(ee18.gif);font-size:8pt;}
.date{text-align:right;color:#777777;float:right;width:435}
.date div{padding:25 35 0 0;}
.Comment{padding:0 60 0 40;text-align:right;font-size:11pt;width:100%;color:#1d1d1d}
.Comment a{color:#1d1d1d}
.Comment a:hover{color:#035266}

.Post-title{padding-bottom:19;font-weight:bold}
.t-date{font-size:8pt;color:#3c3c3c;width:520;height:19;padding-right:73}

.C-post{font-size:8pt;color:#333333;width:743;overflow:hidden}
.C-post a{color:#035266}

#Sidebar{float:right;direction:rtl;text-align:right;width:222;overflow:hidden}

.TopSid{width:222;height:46;background-image:url(ee06.gif);font-size:8pt;color:#000;font-weight:bold;}
.TopSid2{padding:10 30 0 0;text-align:right}
.CenterSid{width:222;font-size:8pt;color:#444444;background-image:url(ee11.gif);padding:2 0}
.CenterSid a{color:#444444;}
.CenterSid a:hover{color:#035266}
.li-Sid{padding:1 20 5 5;background:url('http://file.mihanblog.com//public/user_data/user_files/319/956426/ghaleb/li.png') 194px 5px no-repeat;}
.About{padding:0 15 0 15;color:#555555;line-height:120%}
.LowSid{width:222;height:41;background-image:url(ee17.gif);margin-bottom:20px;}

.footer{width:1200;float:right;background-image:url(Untitled1.gif);height:116;direction:rtl;}
.footer a{color:#ffffff}
.footer  a:hover{color:#035266}
.Fo1{font-size:8pt;text-align:center;padding:46 20 7 20;color:#ffffff}





