

        body {
            line-height: 25px;
            font-size: 12px;
            direction: rtl;
            text-align: right;
            margin: 0;
            color: #6B6B6B;
            background-color: #ffffff;
            overflow-x: hidden;
        }

        .gotop{
            position: fixed;
            bottom: 12px;
            right: 134px;
            width: 34px;
            height: 34px;
            z-index: 5;
            transition-property: opacity,background-color,bottom;
            transition-duration: 0.45s;
            overflow: hidden;
            display: none;
            cursor: pointer;
        }

        .gotop-org{
            bottom: 0;
            right: 0;
            width: 34px;
            height: 34px;
            background-color: #171717;
            opacity: 1;
        }

        .gotop-hov{
            bottom: -34px;
            right: 0;
            width: 34px;
            height: 34px;
            background-color: #0ab6d1 !important;
            z-index: 6;
            opacity: 0;
        }

        .gotop-org, .gotop-hov{
            background: url(../images/arrow.up.png) no-repeat;
            position: absolute;
            background-size: contain;
            transition-property: opacity,background-color,bottom;
            transition-duration: 0.45s;
            background-color: #171717;
        }

        .gotop:hover .gotop-hov{
            bottom: 0;
            opacity: 1;
        }

        .gotop:hover .gotop-org{
            bottom: 12px;
            opacity: 0;
        }

        .heart{
            font-size: 27px;
            color: #d72323;
        }

        .sidemenu{
            position: fixed;
            width:122px;
            top:0;
            bottom: 0;
            right:0;
            background-color: #111111;
            padding: 13px 6px;
            z-index: 10;
        }

        .menu-name{
            display: block;
            position: absolute;
            top: -20px;
            right: calc(50% - 30px);
            color: #fff;
        }

        .rot-menu-icon{
            position: absolute;
            height: 46px;
            width: 100%;
            right: 0;
            margin-top: -12px;
            cursor: pointer;
            transition-property: top;
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            top: 50%;
        }

        .rot-menu-icon:hover .m-line:after{
            background-color: #0ab6d1;
        }

        .rot-menu-icon:hover .m-line1{
            top: 14px;

        }

        .rot-menu-icon:hover .m-line1:after, .rot-menu-icon:hover .m-line2:after, .rot-menu-icon:hover .menu-name:after{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            z-index: 1;
        }

        .rot-menu-icon:hover .m-line3:after{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 0%;
            -moz-transform-origin: 100% 0%;
            -ms-transform-origin: 100% 0%;
            -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
            z-index: 1;
            background: #0ab6d1;
        }

        .rot-menu-icon:hover .menu-name{
            color: #0ab6d1!important;
        }

        .rot-menu-icon:hover .m-line1:after, .rot-menu-icon:hover .m-line2:after{
            background: #0ab6d1;
        }

        .m-line:after, .menu-name:after{
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .rot-menu-icon:hover .m-line3{
            top: 28px;

        }

        .rot-menu-icon:hover .m-line2:after{
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }



        .m-line{
            width: 28px;
            background: #fff;
            height: 4px;
            position: absolute;
            left: calc(50% - 14px);
            transition-property: top,transform,background-color;
            transition-duration: 0.2s,0.4s,0.6s;
            transition-delay: 0.1s;
        }

        .exit-rot{
            height: 64px;
            width: 100%;
            position: absolute;
            top: 50%;
            margin-top: -32px;
            right: 0;
            z-index: 11;
            right: 0;
            cursor: pointer;
            display: none;
        }

        .m-line1{
            top: 12px;
        }

        .m-line2{
            top: 21px;
        }

        .m-line3{
            top: 30px;
            visibility: visible;
            transition-delay: 0.2s;
        }
        
        .icon{
            color: #6b6b6b;
        }

        .icon-gplus{
            padding-left: 3px
        }
        
        .icon-heart{
            color: #d72323;
        }

        .icon-heart:before{
            font-size: 20px !important;
            vertical-align: middle;
        }

        .social-networks-footer{
            padding-top: 20px;
        }

        .social-networks-footer .social-networks-icons a{
            display: block;
            margin-left: 5px;
        }

        .menu-social-network .social-networks-icons a{
            display: block;
            margin-left: 5px;
        }

        .menu-social-network .social-networks-icons a i{
            width: 25px;
            height: 25px;
            background: none;
            transition: color 0.35s;
            display: table;
            color: #969696;
        }

        .menu-social-network .social-networks-icons a i:before{
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            font-size: 16px;
        }

        .social-networks-footer i{
            width: 30px;
            height: 30px;
            border: 1px solid;
            background: none;
            transition: color 0.35s;
            display: table;
        }

        .social-networks-footer .icon-telegram:before{
            font-size: 11px;
            padding-top: 2px;
        }

        .menu-social-network .icon-telegram:before{
            font-size: 12px !important;
        }

        .social-networks-footer i:before{
            vertical-align: middle;
            display: table-cell;
            text-align: center;
        }

        .social-networks-icons{
            display: inline-block;
        }


        .social-networks-footer .icon-facebook, .menu-social-network .icon-facebook:hover{
            color: #3b5998;
        }

        .social-networks-footer .icon-facebook:hover{
            background-color: #3b5998;
            color: #fff;
            border-color: #3b5998;
        }

        .social-networks-footer .icon-telegram ,.menu-social-network .icon-telegram:hover{
            color: #2ca5e0;
        }

        .social-networks-footer .icon-telegram:hover {
            background-color: #2ca5e0;
            color: #fff;
            border-color: #2ca5e0;
        }

        .social-networks-footer .icon-twitter, .menu-social-network .icon-twitter:hover{
            color: #02b0e8;
        }

        .social-networks-footer .icon-twitter:hover{
            background: #40bff5;
            color: #fff;
            border-color: #40bff5;
        }

        .icon-instagram, .menu-social-network .icon-instagram:hover{
            color: #91653f;
        }

        .social-networks-footer .icon-instagram:hover{
            background-color: #91653f;
            color: #fff;
            border-color: #91653f;
        }

        .icon-gplus, .menu-social-network .icon-gplus:hover{
            color: #df4a32;
        }

        .social-networks-footer .icon-gplus:hover{
            background-color: #df4a32;
            color: #fff;
            border-color: #df4a32 ;
        }

        .social-networks-footer .icons {
             text-align: center;
        }

        .icon-pinterest{
            color: #E22C33;
        }

        .icon-pinterest:hover {
            background-color: #E22C33;
            color: #fff;
            border-color: #E22C33;
        }

        .icon-barss{
            display: block;
            width: 22px;
            height: 2px;
            border: 3px solid;
            border-radius: 1px;
            color: #888;
            margin-bottom: 4px;
        }

        a{
            text-decoration: none;
            color: #555;
        }


        .container{
            width: 100%;
            max-width: 1352px;
            margin: 0 auto;
            padding:0 20px;
        }

        .wrap{
            position: relative;
            right: 122px;
            width: calc(100% - 122px);
            transition-property: margin-right,opacity;
            transition-duration: 0.7s,0.4s;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1),cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        .opac{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;
            opacity: 0;
            background: rgba(25, 25, 25 ,0.85);
            transition-property: opacity;
            transition-duration: 0.35s;
            transition-delay: 0.35s;
            visibility: hidden;
            cursor: pointer;
        }

        .blog-slogan{
            font-size: 16px;
            color: #fff;
        }

        .blog-statistics{

        }

        .blog-statistics ul{
            margin-top: 30px !important;
        }

        .stat-subs{
            float: right;
            line-height: 28px;
        }

        .stat-nums{
            float: left;
        }

        .title-bottombar{
            font-size: 16px;
        }

        .menu-button{
            display: none;
            border: 0;
            cursor: pointer;
            outline: 0;
            font-size: 11px;
            background: none;
            border: 1px solid #fff;
            border-radius: 4px;
            float: left;
            padding: 10px 11px 6px 10px;
            margin: 7px 0 7px 0;
        }

        .menu-wrapper{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            height: 100%;
        }

        .menu-sidbar{
            background-color: #171717;
            display: block;
            top: 0;
            color: #fff;
            right: 122px;
            bottom: 0;
            width: 250px;
            overflow: hidden;
            z-index: 7;
            position: fixed;
            margin-right: -250px;
            transition: margin cubic-bezier(0.645, 0.045, 0.355, 1) .7s;
            height: 100%;
            display: table;
        }

        .menu-sidbar .sm-item li:last-child a{
            cursor: pointer;
            padding-bottom: 20px;
        }

        .menu-sidbar .sm-item li:first-child a{
            padding-top: 20px;
        }

        .tags, .related-links, .post-category-floor{
            display: inline;
            vertical-align: middle;
        }

        .tags a{
            margin-right: 5px;
        }

        .tags i{
        }

        .bottom-post-side{
        }

        .post-category{
            display: block;
        }

        .post-tag{
        }

        .post-like{
            float: left;
        }

        .mihanblog_like_bar {
            font-size: 15px;
            width: auto !important;
            /*min-width: 71px;*/
            height: 30px !important;
            border: 1px solid transparent;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            line-height: normal !important;
            margin: 5px 2px;
        }

        .mihanblog_like_likeBar {
            background-color: #fff !important;
            color: #ff3131 !important;
        }

        .mihanblog_like_dislikeBar {
            background-color: #fff !important;
            color: #928e8d !important;
        }

        .mihanblog_like_help_arrow_like {
            left: 30px !important;
            top: 31px !important;
        }

        .mihanblog_like_v2_help_like {
            left: inherit!important;
            right: -1px !important;
            top: -39px !important;
        }

        .mihanblog_like_v2_help_dislike {
            left: -1px !important;
            top: 34px !important;
        }

        .mihanblog_like_likeBar:hover, .mihanblog_like_dislikeBar:hover{
            border: 1px solid;
            background: none;
        }

        .mihanblog_like_Cnt {
            display: inline;
            color: inherit;
            font-size: 13px;
        }

        .mihanblog_like_border {
            display: none;
        }

        .mihanblog_like_help_text {
            min-width: 71px;
            border-radius: 5px;
            padding: 5px 6px !important;
        }

        .mihanblog_like_likeBar::after {
            content: '\e801';
            font-family: mihanblog_theme_icons;
            margin-left: 5px;
        }

        .mihanblog_like_dislikeBar::before {
            content: '\f028';
            font-family: mihanblog_theme_icons;
            margin-right: 5px;
        }

        .menu-social-network{
            border-top: 1px solid rgba(150, 150, 150 ,0.2);
            margin: 0px 30px 0px 30px;
            padding-top: 20px;
            display: none;
            text-align: center;
        }

        .header-section{
        }

        .header-container{
            display: table;
            width: 100%;
            height: 502px;
            background-image: url(../images/headerbg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            background-position: center center;
        }

        .header-wrapper{
            display: table-cell;
            vertical-align: middle;
        }

        .header-content{
            width: 80%;
            margin: 0 auto;
            margin-top: -30px;
        }

        .header-field{
            color: #fff;
            padding: 0 15px;
            display: none;
        }

        .blog-desc{

        }

        .logo-media{
            display: none;
            position: relative;
            right: 30px;
            top: 30px;
            margin: 0 0 50px 0;
        }

        .blog-logo{
            width: 80px;
            height: 80px;
            position: absolute;
            top: 20px;
            left: calc(50% - 40px);
            transition-property: left;
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        .blog-logo img{
            width: 100%;
            height: auto;
        }

        .fix-post-photo img{
            float: right;
            width: 410px;
            height: 620px;
            margin: 0 0 25px 25px;
        }

        .menu-ul li{
            display: inline-block;
        }

        .sid-menu-item{
            display: block;
            font-size: 15px;
            padding: 10px 35px 10px 10px;
            color: #fff;
            transition: color 0.3s;
        }

        .sid-menu-item:hover{
            color: #0ab6d1;
        }

        .s-tags{

        }

        .super-tags{
            padding: 8px 17px;
            display: inline-block;
            transition: all 0.2s linear;
            line-height: 100%;
            border: 1px solid rgba(10, 182, 209 ,0.65);
            background-color: rgba(10, 182, 209 ,0.05);
            color: #0ab6d1;
        }

        .super-tags:hover{
            background-color: #fff;
        }

        .blog-tag-cloud{
            display: inline-block;
            margin: 0 0 10px 5px;
        }

        .search{
            padding: 0px 0px 30px 0;
            position: relative;
        }

        .search-input{
            padding: 4px 10px;
            width: 100%;
            display: block;
            color: #404142;
            border: 1px solid #e8e8e8;
            background: #fff;
            transition: all 0.5s;
        }

        .search-button {
            line-height: 16px;
            cursor: pointer;
            outline: 0;
            background: none;
            position: absolute;
            top: 8px;
            left: 3px;
            border: 0;
        }

        .search-input:focus{
            border-color: rgba(10, 182, 209 ,0.65);
            background-color: rgba(10, 182, 209 ,0.05);
            color: #0ab6d1;
            outline: none;
        }

        .page-section{
        }

        .post-column{
            width: 75%;
            max-width: 985px;
            display: inline-block;
            float: right;
            position: relative;
            padding: 60px 40px 0 40px;
            border-left: 1px solid #e8e8e8;
        }

        .post{
            padding: 45px 40px !important;
            margin-bottom: 50px;
            border: 1px solid #e8e8e8;

        }

        .general-list{
            padding: 20px;
        }

        .general-list li a{
            display: inline-block;
        }

        .post-field{
        }

        .hr-dashed-rule a{
            display: block;
        }

        .name-and-date{
            text-align: center;

        }

        .comment-number{

        }

        .send-comment{
            float: right;
        }

        .page-count{
            text-align: center;
            margin: 0 0 40px 0;
        }

        .page-count a span, .page-count a i{
            display: inline-block;
            padding: 0px 5px;
            color: #2f2f2f;
            font-size: 15px;
            margin: 0 3px;
            transition: all 0.5s linear;
        }

        .page-count a span:hover, .page-count a i:hover{
            color: #0ab6d1;
        }

        .page-count a b{
            display: inline-block;
            padding: 0px 4px 0px 6px;
            padding: 0px 8px;
            color: #2f2f2f;
            font-size: 15px;
            transition: all 0.5s linear;
            border-bottom: 1px solid #2f2f2f;
        }

        .inside-border{
            margin-bottom: 45px;
        }

        .nolink-sidbar{
            padding: 15px 0;
        }

        .about-blog{
            /*overflow-y: scroll;*/
            /* position: relative; */
            /* right: -17px; */
                z-index: 1;
            text-align: justify;
            cursor: pointer;
            text-align: right;
            max-height: 315px;
            /* margin-right: -17px; */
            margin-top: 30px;
        }

        .left-sc {
            direction: ltr;
        }

        .blog-creator, .blog-desc {
            direction: rtl;
        }

        .blog-creator{
            font-weight: bold;
            padding: 0px 0 15px;
        }

        .blog-creator a{
            color: #999;
            margin-right: 5px;
        }

        .link-in-sidebar, .link-in-sidebar-float{
            display: block;
            padding: 6px 0;
        }

        .link-in-sidebar a{
            transition: background-color, color 0.2s  linear;
            color: #404142;
            display: inline-block;
        }

        .link-in-sidebar-float a{
            transition: background-color, color 0.2s linear;
            color: #404142;
        }

        .link-in-sidebar a:before, .link-in-bottombar a:before, .link-in-sidebar-float a:before{
            content: "»";
            font-size: 18px;
            right: 0;
            top: 2px;
            position: relative;
            transition: right 0.3s;
            padding-left: 4px;
        }

        .link-in-sidebar a:hover:before, .link-in-sidebar-float a:hover:before{
            right:4px;
        }

        .link-in-sidebar a:hover, .link-in-bottombar a:hover, .link-in-sidebar-float a:hover, .about-blog a:hover ,.comment-sender a:hover{
            color: #0ab6d1;
        }

        .page{
            margin: 0 auto;
            max-width: 1352px;
        }

        .title{
            transition: background-color, color 0.2s linear;
            font-weight: bold;
            display: block;
            padding: 0 0 20px 0;
            position: relative;
            color: #444;
            text-align: center;
        }

        .sidebar-dez{
            float: left;
            font-size: 9px;
        }

        .bottombar-dez{
            float: left;
            font-size: 9px;
        }

        .last-posts-dez{
            font-size: 9px;
            display: block;
            margin-top: -5px;
        }

        .last-posts-asp{
        }

        .last-posts-asp:hover{
        }

        .title-sidebar{
            text-align: center;
            padding: 0 0 20px 0;
            font-size: 16px;
            color: #2f2f2f;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 25px;
        }

        .read-more{
            text-align: center;
        }

        .read-more a{
            font-size: 15px;
            font-weight: bold;
            color: #2f2f2f;
            transition: color 0.45s;
        }

        .read-more a:hover{
            color: #0ab6d1;
        }

        .last-edit{
            float: right;
        }

        .reply-sender{
            color: #444444;
            font-weight: bold;
            padding: 10px 0;
        }

        .controls .btn{
            font-size: 13px;
            font-family: 'Mihan-Iransans', tahoma, arial!important;
            font-weight: bold;
            color: #fff;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s;
            outline: 0;
            border: 0;
            background-color: rgb(32, 221, 222);
            overflow: hidden;
            position: relative;
            float: left;
        }

        .controls .btn:hover{
            transition: all 0.3s;
            background: #2f2f2f;
        }

        .btn:hover.btn:after{
            bottom:0;
        }

        .button-cc{
            font-size: 13px;
            color: #fff;
            padding: 6px 14px;
            cursor: pointer;
            transition: background-color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
            outline: 0;
            border: 0;
            background: none;
            float: left;
            background-color: #0ab6d1;
            border-color: #0ab6d1;
        }

        .button-cc:hover{
            background-color: #2f2f2f;
        }

        .comment-sender a{
            font-weight: bold;
            font-size: 14px;
        }

        .comment-sender {
            margin: 0!important;
        }

        .date, .author-name, .comment-number{
            margin: 0 10px;
            color: #6B6B6B;
            font-size: 11px;
            transition: color 0.45s;
        }

        .comment-date{
            color: #a5a5a5;
        }

        .date, .author-name a, .comment-sender a, .send-comment, .tags a, .post-category-floor a, .footer a{
            transition: all 0.2s  linear;
        }


        .left-sidebar{
            float: right;
            width: 25%;
            max-width: 328px;
            position: relative;
            padding: 60px 40px 30px 20px;
            border-right: 1px solid #e8e8e8;
            margin-right: -1px;
            word-wrap: break-word;
        }

        .inside-sidebar{

        }

        .bottombar{
            overflow: hidden;
            padding-bottom: 50px;
        }

        .inside-bottombar{
            width: 30%;
            float: right;
            font-size: 11px;
            text-align: right;
        }

        .insbtm-archive{
            width: 40%;
            padding:0 40px;
            min-height: 100px;
        }

        .link-in-bottombar{
            display: block;
        }

        .link-in-bottombar:not(:first-of-type) {
            border-top: 1px solid rgba(234, 234, 234 ,0.2);
        }

        .link-in-bottombar a{
            color: #DADADA;
        }

        .inside-bottombar ul{
            margin-top: 25px;
        }

        .footer{

        }

        .footer-copyright a{
            color: #0ab6d1
        }

        .footer a:hover{
        }

        .footer-section{
            font-size: 13px;
            position: relative;
            background-image: url(../images/bottombar.bg.jpg);
            color: #eaeaea;
            min-height: 570px;
            overflow: hidden;
            background-position: center top;
            padding-top: 85px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            max-height: 640px;
        }

        .footer-copyright{
            border-top: 1px solid rgba(234,234,234,0.2);
            height: 82px;
            padding-right: 40px;
        }

        .footer-text{
            line-height: 75px;
            text-align: center;
        }


        .block-author{
            padding: 0 15px 15px;
        }

        .block-author li{
            padding: 15px 0 15px 0;
        }

        .block-author li a{
            display: block;
        }

        .block-author li a:hover{
            color: #0ab6d1;
        }

        .block-author li:not(:first-child){
            border-top: 1px solid #F2F2F2;
        }

        .block-author-photo{
            /*background-image: url(http://file.mihanblog.com//public/user_data/user_files/404/1210756/mihanblog3/user.avatar.png);*/
            float: right;
            margin: 0 0 10px 10px;
            width: 50px;
            height: 50px;
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }

        .block-author-photo i{
            position: absolute;
            background: #dfdfdf;
            z-index: -1;
            color: #fff;
            width: 100%;
            height: 100%;
            display: table;
        }

        .block-author-photo i:before{
            font-size: 25px;
            vertical-align: middle;
            display: table-cell;
            text-align: center;
        }

        .block-author-photo img{
            width: 50px !important;
            height: 50px;
        }




        .comment_form label{
            width: 112px !important;
        }

        .comment_form_row{
            margin-bottom: 5px;
            width: 100%;
        }

        .comment_form_row:nth-of-type(7){
            display: block;
            color: #DA4453;
            margin-bottom: 20px;
        }

        .comment_form_textarea{
            width:100% !important;
        }

        .comment_form_textbox{
            width: calc(100% - 120px)
        }

        .comment_form_textarea, .comment_form_textbox{
            padding: 4px 20px;
            border: 1px solid #e8e8e8;
            background-color: #ffffff;
            font-size: 12px;
            margin-bottom: 10px;
            outline: none;
            transition: all 0.5s;
        }

        .comment_form_textarea:focus, .comment_form_textbox:focus{
            border: 1px solid rgba(10, 182, 209 ,0.65);
            background-color: rgba(10, 182, 209 ,0.05);
            color: #0ab6d1;
        }

        .showsmile{
            position: absolute;
            right: 75px;
        }

        .comment-content{
            word-wrap: break-word;
            padding: 0 10px;
        }

        .comment-content .icon-comments:before {
            font-size: 25px;
        }

        .comment-properties{
            /*padding: 0 40px 0 10px!important;*/
        }

        .comment-reply{

        }

        .comment-reply-border{
            padding-right: 45px
        }

        .comment-form{
            padding: 20px 40px;
            border-top: 1px solid #e8e8e8;
            margin-top: -1px;
        }

        .comment-form-title{
            padding: 15px 0 15px 0;
            font-size: 13px;
            font-weight: bold;
        }

        .comment-title{
            font-weight: bold;
            font-size: 21px;
        }

        .comment-field{
            padding: 30px 0;
            border-bottom: 1px solid #e8e8e8;

        }

        .org-comment{

        }

        .comment_form{

        }

        .comment-body{
            margin-top: 15px;
        }

        .smileLayer{
            z-index: 11;
        }

        .post-category li:not(:last-child)::after , .post-tag li:not(:last-child)::after, .post-related-links li:not(:last-child)::after{
            content: "،";
            margin: 0px 0.25em;
            font-size: 19px;
        }

        .msgbody {
            width: calc(100% - 120px) !important;
        }

        .author-avatar-photo img{
            width: 100% !important;
        }

        .post-content{

        }

        .post-content .icon-user:before{
            font-size: 16px;
            vertical-align: middle;
        }

        .content{
            overflow: hidden;
            word-wrap: break-word;
            margin: 15px 0;
        }

        .site-title{
            font-size: 35px;
            color: #4ec3e1;
            line-height: 45px;
            margin-bottom: 15px;
        }

        .btmpost{
            margin: 20px 0 0px 0;
        }

        .post-content .title a:first-of-type{
            font-size: 18px;
            transition: background-color, color 0.2s  linear;
            font-weight: bold;
        }

        .post a:hover,.post .author-name a, .post:nth-child(5) a:hover,.post:nth-of-type(5) .author-name a, .post:nth-child(9) a:hover,.post:nth-of-type(9) .author-name a, .post:nth-child(13) a:hover, .post:nth-of-type(13) .author-name a, .general-list li a:hover{
            color: rgb(0, 91, 130);
        }

        .post:nth-of-type(2) a:hover, .post:nth-of-type(2) .author-name a, .post:nth-of-type(6) a:hover,.post:nth-of-type(6) .author-name a, .post:nth-of-type(10) a:hover, .post:nth-of-type(10) .author-name a,.post:nth-of-type(14) a:hover, .post:nth-of-type(14) .author-name a{
            color: rgb(178, 155, 117);
        }

        .post:nth-of-type(3) a:hover,.post:nth-of-type(3) .author-name a, .post:nth-of-type(7) a:hover,.post:nth-of-type(7) .author-name a, .post:nth-of-type(11) a:hover,.post:nth-of-type(11) .author-name a, .post:nth-of-type(15) a:hover, .post:nth-of-type(15) .author-name a{
            color: rgb(31, 221, 222);
        }

        .post:nth-of-type(4n) a:hover, .post:nth-of-type(4n) .author-name a{
            color: rgb(107, 187, 148);
        }


        /*start_of_icon _animation*/


        .menu-active .wrap{
            margin-right: 250px;
        }

        .menu-active .menu-sidbar{
            margin-right: 0;
        }

        .menu-active .exit-rot{
            display: block;
        }

        .menu-active .opac{
            opacity: 1;
            visibility: visible;
        }

        .menu-active .m-line1{
            top: 21px!important;
            transform: rotate(45deg);
            background: #0ab6d1!important;
        }

        .menu-active .m-line2{
            top: 21px!important;
            transform: rotate(-45deg);
            background: #0ab6d1!important;
        }

        .menu-active .m-line3{
            top: 21px!important;
            visibility: hidden!important;
            background: #0ab6d1!important;
        }

        .menu-active .menu-name{
            color: #0ab6d1;
        }


        @media (max-width: 1024px){
            .post-column{
                padding: 60px 20px 0 20px;
            }

            .left-sidebar{
                padding: 60px 20px 30px 20px;
            }
        }

        @media (max-width: 870px){

            .wrap{
                right: 0;
                width: 100%;
                top: 68px;
            }

            .menu-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: auto;
            }

            .menu-sidbar{
                right:0;
            }

            .sidemenu{
                width: 100%;
                top: -68px;
                left: 0;
                right: 0;
                height: 68px;
                position: absolute;
            }

            .rot-menu-icon{
                width: 252px;
                height: 37px;
                top: 0;
                right: 0;
                margin: 15px 15px;
            }

            .m-line{
                right: 0;
                margin-top: -5px;
            }

            .menu-name{
                top: 7px;
                right: 39px;
            }

            .exit-rot{
                height: 46px;
                width: 121px;
                top: 42px;
            }

            .menu-social-network{
                display: block;
            }

            .blog-logo{
                width: 50px;
                height: 50px;
                top: 10px;
                left: 10px;
            }

            .logo-media{
                display: inline-block;
            }

            .left-sidebar, .post-column, .inside-bottombar{
                float: none;
                width:100%;
                max-width: 100%;
            }

            .post-column, .left-sidebar {
                border-left: none;
                border-right: none;
            }

            .post-column{
                padding:0 20px;
            }

            .container{
                padding: 0 20px;
            }

            .page-section {
                padding-top: 60px;
            }

            .footer-section{
                max-height: none;
                padding:0;
            }

            .gotop{
                right: 12px;
            }

            .about-blog{
                max-height: none;
                overflow-y: auto;
                left: 0;
                cursor: auto;
                margin-right: 0;
            }

            .mCSB_scrollTools.mCSB_1_scrollbar.mCS-rounded-dots.mCSB_scrollTools_vertical, .mCSB_scrollTools{
                display: none !important;
            }

            .mCSB_inside>.mCSB_container{
                margin-right: 0!important;
            }

            .insbtm-archive, .left-sidebar{
                padding: 0;
            }

            .bottombar , .insbtm-archive{
                padding: 40px 0;
            }

            .social-networks-footer .icons{
                margin:auto;
                text-align: center;
            }

            .inside-sidebar{
                padding: 30px;
            }
        }


        @media (max-width: 480px){
            .page-total{
                display: block;
                margin-bottom: 10px;
            }

            .page-count a span,  .page-count a i{
                width: 7%;
                padding: 4px 0;
                margin: 0 1%;
            }

            .post{
                padding:25px;
            }

            .page-count a b{
                padding: 4px 0;
                margin: 0 1%;
                width: 9%;
            }

            .msgbody, .comment_form_textbox{
                width:100% !important;
                margin: 0;
            }

            .post-content .title a:first-of-type{
                font-size: 16px;
            }

            .post-field{
                width: 100%;
            }

            .date, .author-name, .comment-number, .comment-date{
                margin: 0;
                display: block;
                text-align: right;
            }

            .send-comment {
                float: none;
                display: block;
            }

            .mihanblog_like_wrapper{
                display: inline-block;
            }

            .post-like {
                float: none;
                text-align: center;
            }
        }