

        .clearfix {display: inline-block;}
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        /* Hides from IE-mac \*/
        * html .clearfix {height: 1%;}
        .clearfix {display: block;}
        /* End hide from IE-mac */

        * {
            box-sizing: border-box;
        }

        body, button, input{
            font-family: 'Mihan-Iransans', tahoma, arial !important;
        }

        ul, li, h1, h2{
            text-decoration: none;
            list-style: none;
            padding:0;
            margin:0;
        }