@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css');
@font-face {
}
.ht-header-top {
	background-color: none;
	border-bottom: 0px solid #131A25;
}
.ht-header-top.s1 {
	background: #00a1af;
  /* background: #db3441;*/
}
.ht-header-top .wrapper {
	position: relative;
}
.ht-header-top.s2 {
	background: #00a1af;
    /* border-top: 2px solid #584156; */
}
.ht-header-top .wrapper.s2 {
	color: #999999;
	padding: 13px 10px;
}
 /* zar */

 /* zar */

}
@media screen and (max-width: 1023px) {
.wrapper {
	width: 940px;
}
}
@media screen and (max-width: 979px) {
.wrapper {
	width: 760px;
}
.ht-header-top {
	display: none;
}
.ht-logo {
	background-position: top center;
	padding-top: 80px;
	margin-top: 30px;
}
.ht-logo .site-title {
	text-align: center;
}
.ht-logo h2 {
	text-align: center;
}
.full-width .entry-content {
	display: none;
}
.ht-main-nav {
	display: none;
}
.top-nav-mobile, .main-nav-mobile {
	display: block;
}
.main-nav-mobile .main-menu-mobile {
	display: block;
	margin-bottom: 20px;
}
.header-top-left {
	width: 100%;
	padding-right: 70px;
}
.header-top-right {
	position: absolute;
	top: 0;
	right: 0;
}
.ms-item1.size1 .entry-item .entry-content .h5-content {
	display: block;
}
.ms-item1.size1 .entry-item .entry-content .entry-title {
	font-size: 18px;
	line-height: 36px;
}
.ms-item1 .entry-item .entry-content .h5-content {
	display: none;
}
.ms-item1 .entry-item .entry-content .entry-title {
	font-size: 14px;
	line-height: 22px;
}
.ht-main-col, .sidebar {
	width: 100%;
}
.nav-tabs > li > a {
	padding: 8px 20px;
}
.widget-area-1, .widget-area-2, .widget-area-3, .widget-area-4 {
	width: 50%;
}
.ht-logo .site-title {
	padding-top: 30px;
}
.top-links {
	list-style: none;
	padding: 0;
	position: absolute;
	top: -50px;
	bottom: auto;
	left: 50%;
	right: auto;
	margin-left: -95px;
}
}
@media screen and (max-width: 799px) {
.wrapper {
	width: 728px;
}
}
@media screen and (max-width: 767px) {
.wrapper {
	width: 680px;
}
.nav-tabs > li > a {
	padding: 5px 15px;
}
}
@media screen and (max-width: 719px) {
.wrapper {
	width: 600px;
}
.ms-item1 {
	width: 50%;
}
.ms-item1.size1 {
	width: 100%;
}
.ms-item3 {
	width: 49%;
	padding: 0px;
	padding: 0px 0px 5px 0px;
}
.ms-item3.first-child {
	width: 100%;
	padding: 0px 0px 5px 0px;
}
.ms-item3.size1 {
	width: 100%;
}
.nav-tabs > li > a {
	padding: 5px 10px;
}
.bottom-area-1 {
	height: 54px;
}
.bottom-nav {
	display: none;
}
.main-header:after, .main-header:before {
	display: none;
}
.top-links {
	list-style: none;
	padding: 0;
	position: absolute;
	top: -50px;
	bottom: auto;
	left: 50%;
	margin-left: -95px;
}
.main-header {
	min-height: 50px;
}
}
@media screen and (max-width: 639px) {
.wrapper {
	width: 440px;
}
.ht-header-top {
	height: 42px;
}
.header-top-left {
	display: none;
}
.ht-logo img {
	max-width: 80%;
}
.widget-area-25, .widget-area-26 {
	width: 100%;
}
.ht-masonry-5-widget .pd-20 .last-item {
	width: 100%;
	float: none;
	min-height: 1px;
	padding-right: 0px;
	padding-bottom: 20px;
}
.ht-masonry-5-widget .pd-20 .masonry-list {
	overflow: visible;
}
}
@media screen and (max-width: 479px) {
.wrapper {
	width: 320px;
}
#comments .comments-list .children {
	padding-left: 0;
}
.ms-item3 {
	width: 100%;
	padding: 0px;
	padding: 0px 0px 5px 0px;
}
.ms-item3.size1 {
	width: 100%;
}
.widget-area-1, .widget-area-2, .widget-area-3, .widget-area-4 {
	width: 100%;
	padding: 20px 20px 0;
}
}
@media screen and (max-width: 359px) {
.wrapper {
	width: 300px;
}
.ms-item1.size1 .entry-item .entry-content {
	padding: 10px 15px;
}
.ms-item1.size1 .entry-item .entry-content .entry-title {
	font-size: 16px;
	line-height: 30px;
}
.ms-item1 .entry-item .entry-content {
	padding: 5px 10px;
}
.ms-item1 .entry-item .entry-content .entry-title {
	font-size: 12px;
	line-height: 20px;
}
}
.c2 {
	background: #CECECE;
	background: rgba(206, 206, 206, 0.34) url(http://file.mihanblog.com//public/user_data/user_files/74/221407/Andishkadeh/images/txr3.png);
	padding: 20px;
}
.pd-0 {
	padding: 0px;
}
.s1 .ht-e-list.list-unorder.wb li:first-child, .sm ul li:first-child {
	border-top: none;
}
.child-ul li {
	border-top: 0px solid #2F2F2F !important;
}
.s1 .ht-e-list.list-unorder.wb li, .sm ul li {
	padding-top: 5px;
	position: relative;
	border-top: 1px solid rgba(206, 206, 206, 0.33);
	padding: 10px 10px;
	min-height: 30px;
	margin-top: 0px;
}
.s1 .ht-e-list.list-unorder.wb li a, .s1 .pd-20 > ul > li a, .sm ul li a {
	color: #333;
}
.s1 .ht-e-list.list-unorder.wb li a:hover, .s1 .pd-20 > ul > li a:hover, .sm ul li a:hover {
	color: #026100;
}
.s1 .ht-e-list li > span.post-count {
	font-size: 14px;
	margin-right: 10px;
	color: #026100;
	float: left;
	color: #fff;
	background: #474747;
	padding: 0 10px;
	margin-top: 0px;
	line-height: 22px;
	width: 40px;
	text-align: center;
	font-size: 11px;
}
.s1 .child-ul li > span.post-count {
	margin-left: -10px !important;
}
.s1 .pd-20 > ul > li {
	margin-top: 0px;
	padding: 10px 10px;
	border-top: 1px solid rgba(206, 206, 206, 0.33);
	position: relative;
}
.s1 .pd-20 > ul > li:first-child {
	padding: 10px 10px;
	border-top: 0px solid #2F2F2F;
}
.s1 .pd-20 > ul > li.selected {
	background: rgb(234, 234, 234) !important;
}
.wmb {
	margin-bottom: 0px !important;
}
.kopa-masonry-wrap .entry-title, .kopa-masonry-wrap .entry-title a {
	color: #333;
}
.kopa-masonry-wrap .entry-title a:hover {
	color: #026100;
}
.kopa-masonry-wrap .entry-title, .kopa-masonry-wrap .entry-meta {
	text-align: right;
}
.kopa-masonry-wrap .entry-body {
	color: #474747;
}
.kopa-masonry-wrap .pd-20 {
	padding-top: 0px;
}
.kopa-masonry-wrap .entry-thumb {
	margin-left: -20px;
	margin-right: -20px;
}
.kopa-masonry-wrap .widget.style2 {
	background: rgb(250, 250, 250) !important;
	border: 0px solid #E1E1E1;
}
.sidebar .widget, .widget-area-25 .widget {
	margin-bottom: 30px !important;
}
.ht-entry-view a {
	color: #f4f4f4;
}
.sticky {
	position: fixed !important;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
}
.sticky .top-menu > li > a {
	font-size: 14px;
	padding: 8px 21px 9px 20px;
}
.tp-banner-container {
	float: left;
	position: relative;
	width: 100%;
	background: #FFF;
	border-bottom: 0px solid #026100;
}
.slide1_zar {
	background: none repeat scroll 0 0 #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 16px;
	padding: 5px 5px;
	text-transform: uppercase;
}
.slide2_zar {
	background: none repeat scroll 0 0 transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #000000;
	font-size: 14px;
	padding: 5px 5px;
	text-transform: uppercase;
}
.slide3_zar {
	background: none repeat scroll 0 0 transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 5px 5px;
	text-transform: uppercase;
}
.slide2-text2 {
	background: none repeat scroll 0 0 #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #343434;
	font-size: 30px;
	padding: 5px 20px;
	text-transform: uppercase;
}
.slide2-text1 {
	background: none repeat scroll 0 0 transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 10px;
	padding: 5px 20px;
	text-transform: uppercase;
}
.slide3-text1 {
	color: #191919;
	float: left;
	font-size: 20px;
	margin: 0;
	text-transform: uppercase;
}
.slide2-btn {
	background: none repeat scroll 0 0 #2BA5A5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #FFFFFF !important;
	font-size: 14px;
	font-weight: 600;
	padding: 9px 14px;
}
a.slide-text1-btn {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.84);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #0E0C0D !important;
	float: left;
	line-height: 10px;
	padding: 15px;
	text-decoration: none;
}
.slide4-text1 > i {
	color: #026100;
	font-style: normal;
	font-weight: normal;
}
.slide3-list > li {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.slide3-list > li > i {
	border: 1px solid #999999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #4F4E4E;
	font-size: 20px;
	height: 33px;
	line-height: 33px;
	margin-right: 17px;
	text-align: center;
	width: 37px;
	float: left;
}
.slide3-text1 > i {
	background: none repeat scroll 0 0 #1077B8;
	color: #FFFFFF;
	font-weight: normal;
	font-style: normal;
	padding: 6px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.slide3-list > li > span {
	color: #3E3E3E;
	font-size: 15px;
	font-weight: 600;
	line-height: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	display: block;
	margin-top: 10px;
}
.tp-simpleresponsive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* Best Seller */
.best-seller {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
}
img.seller-hover {
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
img.seller-still {
	position: relative;
	-webkit-transition: all 0.9s ease 0s !important;
	-moz-transition: all 0.9s ease 0s !important;
	-ms-transition: all 0.9s ease 0s !important;
	-o-transition: all 0.9s ease 0s !important;
	transition: all 0.9s ease 0s !important;
	z-index: 2147483647;
}
img.seller-still:hover {
	opacity: 0;
	-webkit-transform: scale(2) !important;
	-moz-transform: scale(2) !important;
	-ms-transform: scale(2) !important;
	-o-transform: scale(2) !important;
	transform: scale(2) !important;
}
.best-seller:hover img {
	margin-bottom: 26px;
	margin-top: -26px;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.inner-products .most-sold {
	margin-bottom: 30px;
}
.most-sold:hover .sold-thumb img {
	margin: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.best-seller > img {
	border: 1px solid #E0E0E0;
	float: left;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.best-seller > h3 {
	float: left;
	font-family: open sans;
	font-size: 13px;
	font-weight: 600;
	margin: 20px 0 15px;
	width: 100%;
}
.best-seller > span {
	color: #026100;
	float: left;
	font-family: open sans;
	font-size: 17px;
	font-weight: 600;
	line-height: 10px;
	margin-bottom: 10px;
	text-align: right;
	width: 100%;
}
.best-seller > span i {
	color: #B6B5B5;
	float: left;
	font-family: open sans;
	font-size: 16px;
	font-style: normal;
	line-height: 10px;
	text-decoration: line-through;
}
.sky-tabs-anim-flip > ul li {
	overflow-x: hidden !important;
}
/*
.best-seller > a {
  
    background: linear-gradient(to bottom, #FFFFFF 0%, #F6F6F6 47%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B6B8B8;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

    color: #3B3B3B;
    float: left;
    font-family: open sans;
    font-size: 11px;
    font-weight: 600;
    line-height: 13px;
    padding: 9px 12px;

	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.best-seller > a:hover {
    -webkit-box-shadow: 0 0 2px #B6B8B8 inset;
    -moz-box-shadow: 0 0 2px #B6B8B8 inset;
    -ms-box-shadow: 0 0 2px #B6B8B8 inset;
    -o-box-shadow: 0 0 2px #B6B8B8 inset;
    box-shadow: 0 0 2px #B6B8B8 inset;
}

*/
.best-seller > a i {
	float: left;
	font-size: 13px;
	margin-right: 10px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.seller2 > h3 {
	color: #E7E7E7;
	font-size: 14px;
	width: 65%;
}
.seller2:hover img {
	margin: 0;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.best-seller.seller2 > img {
	border: 0 none;
}
.seller2 > span {
	color: #F9F9F9;
	float: left;
	margin-bottom: 2px;
	text-align: left;
	width: 65%;
}
.seller2 > span i {
	margin-right: 15px;
}
.morelink:hover, .moreicon:hover, .morelink:hover i, .moreicon:hover i {
	color: #fff !important;
}
.news .col-md-3 {
	padding: 20px 10px;
}
