/*[PATH @digikala/supernova-digikala-desktop/static/css/app.css]*/
@charset "UTF-8";
html {
	box-sizing: border-box;
}
*, :after, :before {
	box-sizing: inherit;
}
.c-wiki__container {
	right: -3px;
	padding: 11px;
	top: calc(100% + 12px);
}
.c-wiki__container {
	display: block;
}
.c-wiki__container {
	position: absolute;
	top: calc(100% + 17px);
	right: -10px;
	padding: 11px 11px 21px;
	min-width: 273px;
	max-width: 394px;
	box-shadow: 0 -6px 12px 0 hsla(0,0%,71%,.3);
	background-color: #fff;
	border: 1px solid #b8b8b8;
	z-index: 121;
	display: none;
}
.c-wiki__container.is-right {
	left: -10px;
	right: unset;
}
.c-wiki__container.is-right .c-wiki__arrow {
	left: 14px;
	right: unset;
}
.c-wiki__trigger:hover+.c-wiki__container,.c-wiki__trigger:hover&gt;.c-wiki__container{display:block}
.c-wiki__text {
	font-size: 12px;
	line-height: 1.692;
	font-weight: 400;
	letter-spacing: -.3px;
	text-align: justify;
	direction: rtl;
	color: #777;
}
.c-wiki__arrow {
	position: absolute;
	top: -8px;
	right: 16px;
	width: 13.7px;
	height: 13.7px;
	transform: rotate(-135deg);
	background-color: #fff;
	box-shadow: inset -1px -1px 0 0 #b8b8b8;
}
}
.c-wiki__holder {
	position: relative;
	cursor: pointer;
	display: inline-block;
}
.c-wiki__holder:hover .c-wiki__container {
	display: block;
}
.c-wiki__container {
	position: absolute;
	top: calc(100% + 17px);
	right: -10px;
	padding: 11px 11px 21px;
	min-width: 273px;
	max-width: 394px;
	box-shadow: 0 -6px 12px 0 hsla(0,0%,71%,.3);
	background-color: #fff;
	border: 1px solid #b8b8b8;
	z-index: 121;
	display: none;
}
.c-wiki__container.is-right {
	left: -10px;
	right: unset;
}
.c-wiki__container.is-right .c-wiki__arrow {
	left: 14px;
	right: unset;
}
.c-wiki__trigger:hover + .c-wiki__container, .c-wiki__trigger:hover > .c-wiki__container {
	display: block;
}
.c-wiki__text {
	font-size: 12px;
	line-height: 1.692;
	font-weight: 400;
	letter-spacing: -.3px;
	text-align: justify;
	direction: rtl;
	color: #777;
}
.c-wiki__arrow {
	position: absolute;
	top: -8px;
	right: 16px;
	width: 13.7px;
	height: 13.7px;
	transform: rotate(-135deg);
	background-color: #fff;
	box-shadow: inset -1px -1px 0 0 #b8b8b8;
}