}
/* Hello page
http://www.naqweb.ir/cdn/skins/rcorp1/skin3/assets/img/overlay-pattern2.png
 **************************************************/
#kb-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#kb-container:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('') repeat;
	opacity: 0.5;
	z-index: 2;
}
.owl-slide {
	position: absolute;
	top: 0;
	left: 0;
}