/* Begin Reset CSS */

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5 {
	line-height: normal;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.35em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 1em;
}
a {
	color: #00395C;
	text-decoration: none;
}
a:hover {
	color: #8e0fa4;
	text-decoration: underline;
}
a img {
	border: 0 none;
}
input, textarea, select, button, body {
	font: 12px/17px Tahoma, Arial, Helvetica, sans-serif;
}
input, textarea, select, button, a {
	outline: none;
}
p {
	margin-bottom: 0.4em;
}
hr {
	border: 0 none;
	border-top: 1px solid #d8d8d8;
	height: 1px;
}
ul, li {
	padding-right: 5x;
	list-style-position:outside;
	list-style-image:none;
	list-style:none;
}
ol {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: decimal;
	margin-left: 2.2em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
              max-width: 550px;
}
ul li {
list-style-image: url("http://mihanpatogh.persiangig.com/other/li.gif");
	 margin-right: 15px;
	color: #000000;
}
.fixed {
    position:fixed;
    top:0;
	opacity:0.5;
}

/* End Reset CSS */

/*Begin Main Setting*/
body {
	margin:0;
	background:transparent url("") repeat;
	font-family:Tahoma;
	font-size:12px
}
a {
	color:#000;
	font-size:12px;
	text-decoration:none
}
a:hover {
	color:#56b5d0
}
span {
	font-family:Tahoma
}
img {
	border:0px
}
.Clear {
	clear:both;
}
.wrapper {
	width:1050px;
	margin: 0 auto;
	font-family:Tahoma;
	direction:rtl;
	text-align:right
}


#TickerLink {
	color:#fff;
}
#TickerLink:hover {
    color: #FFFFFF;
    text-shadow: 0 2px 2px;
}
#SideBlocks {
	margin-bottom:10px;
}
/*End Main Setting*/

/*Begin Header*/

.Header {
	margin:0 auto
}


.Headerup {
	margin:0 0 0 0;
              float:center;
              height:20px;
	width:1050px;
              background-color:#c0c0c0;
}

.Header .Right {
	float:right
}
.Header .Left {
	float:left;
}
.Header .HeadRight, .HeadLeft {
	height:119px;
	width:10px;
}
.Header .HeadRight {
	background:url("") no-repeat scroll 0 -119px transparent;
	float:right;
}
.Header .HeadLeft {
	background:url("") no-repeat scroll 0 -238px transparent;
	float:left;
}


.Headerm {
	background:url("") no-repeat;
	float:center;
       height:120px;
	width:1050px;
              background-color:#666666;
              margin-top:0px;
}

	

.Headerdown {
              float:center;
              height:100px;
	width:1050px;
              background-color:#c0c0c0;
              margin-top:0px;
            
}
.Logo {
	  overflow: hidden;
    width: 150px;
	height:105px;

	float:left;
	margin-top:6px;
}
.Logo a {
	display: block;

    overflow: hidden;
	padding-top:105px;
}
.FootLogo {
	background:transparent url("") repeat-x;
	height:105px;
	width:105px;
	float:right;
	margin-top:6px;
}
.Header .Date {
	font-size:12px;
	color:#fff;
	margin:5px 12px 0 0;
	width:200px;
}
.Header .Welcome {
	font-size:12px;
	color:#fff;
	margin:20px 12px 0 0;
	width:200px;
}
.LoginBox {
	width:200px;
	margin:10px 12px 0 0;
}
.LoginBox p, .LoginBox p a {
	color:#fff;
	padding:0px;
	line-height:6px;
	font-size:12px;
}
.LoginBox .User, .Pass {
	background:transparent url("http://mihanpatogh.persiangig.com/other/login-input.png") no-repeat;
	width:83px;
	height:16px;
	border:0px;
	color:#9dd2e1;
}
.LoginBox .User {
	margin-right:5px;
}
.LoginBox .Pass {
	margin-right:6px;
}
.LoginBox .Submit {
	background:transparent url("http://mihanpatogh.persiangig.com/other/submit.png") no-repeat;
	width:22px;
	height:23px;
	border:0px;
	cursor:pointer;
}
.LoginBox label {
	color:#fff;
	font-size:12px;
}
.TopText1 {
	width: 380px;
}
.TopText2 {
	width: 180px;
	margin-right:20px;
}
.TopTextRight {
	background:url("") no-repeat scroll 0 -27px transparent;
	width:16px;
	height:27px;
	float:right;
}
.TopTextLeft {
	background:url("") no-repeat scroll 0 -54px transparent;
	width:16px;
	height:27px;
	float:left;
}
.TopTextMain {

	background:url("") repeat-x scroll 0 0 transparent;
	height:27px;
	margin:0 16px;
	color:#fff;
	font-size:12px;
	line-height:20px;
	text-align:center;
}


.Rss .Icon {
	background:url("http://mihanpatogh.persiangig.com/other/rss.png") no-repeat scroll 0 0 transparent;
	width:22px;
	height:23px;
	float:right;
}
.Rss .Text {
	text-align:right;
	float:right;
	margin-right:5px;
	color:#fff;
	font-size:12px;
	line-height:30px;
}
.Download {
	width:200px;
	float:right;
	margin-right:10px;
	margin-top:10px;
	font-size:12px;
	color:#ebf5f8;
	line-height:10px;
}
.Download a {
	color:#fff;
}
.Download img {
	margin-top:-4px;
	float:right;
	margin-left:5px;
}
.FontSize {
	float:left;
	width:100px;
	margin-top:10px;
	margin-left:10px;
}
.FontSize .Small {
	background:url("http://mihanpatogh.persiangig.com/other/font-size.png") no-repeat scroll -40px 0 transparent;
	height:17px;
	width:20px;
	float:left;
}
.FontSize .Normal {
	background:url("http://mihanpatogh.persiangig.com/other/font-size.png") no-repeat scroll -22px 0 transparent;
	height:17px;
	width:20px;
	float:left;
}
.FontSize .Large {
	background:url("http://mihanpatogh.persiangig.com/other/font-size.png") no-repeat scroll -4px 0 transparent;
	height:17px;
	width:20px;
	float:left;
}
/*End Header*/

/*Begin Slide Show*/

.SlideShow {
	margin:0 auto;
}
.SlideHeadRight {
	background:url("http://mihanpatogh.persiangig.com/other/slide-head.png") no-repeat scroll 0 -35px transparent;
	width:9px;
	height:35px;
	float:right; 
              
}
.SlideHeadLeft {
	background:url("") no-repeat scroll 0 -70px transparent;
	width:9px;
	height:35px;
	float:left;
              
}
.SlideHeadMain {
	background:url("") repeat-x scroll 0 0 transparent;
	height:35px;
	margin:0 9px;
              
}
.SlideFootr {
	margin: -3px auto 0;
	width: 935px;
}
.SlideHeadRight2 {
	background:url("") no-repeat scroll 0 -40px transparent;
	width:9px;
	height:30px;
	float:right;
              
}
.SlideHeadLeft2 {
	background:url("") no-repeat scroll 0 -75px transparent;
	width:9px;
	height:30px;
	float:left;
             
}
.SlideHeadMain2 {
	background:url("") repeat-x scroll 0 -5px transparent;
	height:30px;
	margin:0 9px;
             
}
.SlideBg {
	background:url("") repeat-y scroll 0 0 transparent;
	width:978px;
              
}
.SlideContent {
}
.SlideFootRight {
	background:url("") no-repeat scroll 0 -61px transparent;
	width:27px;
	height:27px;
	float:right;
}
.SlideFootLeft {
	background:url("") no-repeat scroll 0 -27px transparent;
	width:27px;
	height:27px;
	float:left;
}
.SlideFootMain {
	background:url("") repeat-x scroll 0 0 transparent;
	height:27px;
	margin:0 27px;
}
/*Begin Slide Show*/

/*Begin Tools*/
.tools {
	background:url("http://mihanpatogh.persiangig.com/other/tools.png") repeat-x scroll 0 0 transparent;
	height:35px;
}
.tools .break {
	background:url("http://mihanpatogh.persiangig.com/other/tools.png") no-repeat scroll 0 -35px transparent;
	width:1px;
	height:26px;
	float:right;
	margin:4px 10px 0px 10px;
}
.flag {
	padding-top:9px;
	float:right;
}
.banner-btn {
	width:241px;
	height:18px;
	margin:0 auto;
	cursor:pointer;
}
.site-text {
	color:#CC33CC;
	font-size:12px;
	padding-top:8px;
	width:500px;
}
.search {
	float:left;
	margin-top:-50px
}
.search .text {
	background:url("http://mihanpatogh.persiangig.com/other/search.png") no-repeat scroll 0 0 transparent;
	width:176px;
	height:23px;
	border:0px;
	margin-top:-2px;
}
.search .submit {
	background:url("http://mihanpatogh.persiangig.com/other/search.png") no-repeat scroll -154px -23px transparent;
	width:22px;
	height:23px;
	border:0px;
	cursor:pointer;
}
/*End Tools*/

/*Main Content*/
.center, .center-footer {
	width:530px;
}
.center {
              float:right;
              width:530px;
	margin-left:162px;
}
/*End Main Content*/

/*Begin Side Block*/
.right-block {
        
	float:right;
	width:165px;
        margin-top:10px;
              margin-left:3px;
}
.left-block {
        
	float:right;
	width:160px;
        margin-top:10px;
              margin-right:-145px;
}
.left-blocka {
        
	float:left;
	width:160px;
        margin-top:10px;
              margin-left:0px;
}

.side-block-head {
	background:transparent url("") no-repeat;
	width:150px;
	height:16px;
}
.side-block-bg {
	background:transparent url("") repeat-y;
	width:150px;
}
.side-block-footer {
	background:transparent url("") no-repeat;
	width:150px;
	height:70px;

}
.side-block-bg .content {
	padding:10px 5px 5px 5px;
	font-size:12px;
}
.side-block-title {
	background:url("") no-repeat scroll 0 0 transparent  visibility: hidden;
	height:37px;
	margin-right:70px;
	width:150px;            
              
}
.side-block-title h5 {
	color:#000000;
	font-size:12px;
	line-height:22px;
	padding-right:5px
}



.side-blocka-head {
	background:transparent url("") no-repeat;
	width:150px;
	height:16px;
}
.side-blocka-bg {
	background:transparent url("") repeat-y;
	width:150px;
}
.side-blocka-footer {
	background:transparent url("") no-repeat;
	width:150px;
	height:70px;

}
.side-blocka-bg .content {
	padding:10px 5px 5px 5px;
	font-size:12px;
}
.side-blocka-title {
	background:url("") no-repeat scroll 0 0 transparent  visibility: hidden;
	height:37px;
	margin-right:70px;
	width:150px;
             
              
}
.side-blocka-title h5 {
	color:#000000;
	font-size:12px;
	line-height:22px;
	padding-right:5px
}

/*End Side Block*/

/*Begin Center BLock*/

.content img{
        max-width: 380px;
        max-height: 400px;
                  
}
.centerblock {
	margin-bottom:10px;
}
.center .centerblock .head-r {
	background:url("") no-repeat scroll 0 -35px transparent;
	width:16px;
	height:35px;
	float:right;
}
.center .centerblock .head-l {
	background:url("") no-repeat scroll 0 -70px transparent;
	width:16px;
	height:35px;
	float:left;
}
.center .centerblock .head-m {
	background:url("") repeat-x scroll 0 0 transparent;
	height:35px;
	margin:0 15px;
}
.center .centerblock .head-m h2, .center .centerblock .head-m h2 a, .center .centerblock .head-m h3, .center .centerblock .head-m h3 a {
	color:#000000;	color:#000033;
	line-height:30px;
	font-size:12px;
}
.center-mian-bg .content {
              text-align:justify;
              text-justify:auto; 
	font-size:13px;
	background-color:#ffffff;
	padding:5px;
	border-right:1px #bdbcbd solid;
	border-left:1px #bdbcbd solid;
             
              
}
#post img {
             width:155px;
             height:105px;
              float:left;
              margin: 1px 1px 1px 1px;
              text-align:justify;
              text-justify:auto;
              font-size:13px;
             
}
.center .centerblock .foot-r {
	background:url("") no-repeat scroll 0 -70px transparent;
	width:25px;
	height:35px;
	float:right;
}
.center .centerblock .foot-l {
	background:url("") no-repeat scroll 0 -35px transparent;
	width:25px;
	height:35px;
	float:left;
}
.center .centerblock .foot-m {
	background:url("") repeat-x scroll 0 0 transparent;
	height:35px;
	margin:0 22px;
}
/*End Center BLock*/
.header {
	margin:0 auto
}
.header .head-r, .head-l {
	height:119px;
	width:10px;
}
/*Begin News Block*/
.Author {
margin-left: 20px;
	float:right;
	font-size:12px;
	margin-right:16px;
}
.rate {
	float:right;
}
#con img{
             max-width: 380px;
              max-height: 400px;
              float:center;
              text-align:justify;
              text-justify:auto;
              font-size:13px;
              
}
.more {
	background:url("") no-repeat scroll 0 0 transparent  visibility: hidden;
	width:100px;
	height:37px;
	position:absolute;
	direction:rtl;
	margin-right:-68px;
	padding-right: 5px;
  color: #000000;
  padding-top: 3px;
	margin-top:0px;
              
}
.more h3 {
	color:#000000;
	font-weight:bold;
	padding-right:5px;
	font-size:12px;
	line-height:22px;
}

.more a {
	color:#000000;

}

.morecontent {
	background:url("") no-repeat scroll 0 0 transparent  visibility: hidden;
	width:100px;
	height:37px;
	position:absolute;
	text-align:right;
	margin-right:-62px;
	margin-top:-10px;
             
}
.morecontent h3 {
	color:#000000;
	font-weight:bold;
	padding-right:5px;
	font-size:12px;
	line-height:22px;
	text-align:right;
	direction:rtl;
}
.NewsFooter {
}
/*End News Block*/

/*Begin Footer*/
.footer {
	
	height:20px;
	margin-bottom:0px;
              background-color:#c0c0c0;    
}
/*End Footer*/

/*Begin Open Table*/
.OpenTable {
	margin-bottom:10px;
}
.OpenTableRightHead {
	background:url("") no-repeat scroll 0 -35px transparent;
	width:25px;
	height:35px;
	float:right;
}
.OpenTableLeftHead {
	background:url("") no-repeat scroll 0 0 transparent;
	width:25px;
	height:35px;
	float:left;
}
.OpenTableMainHead {
	background:url("") repeat-x scroll 0 -70px transparent;
	height:35px;
	margin:0 20px;
}
.OpenTableContent {
	background-color:#ffffff;
	padding:5px;
	border-right:1px #bdbcbd solid;
	border-left:1px #bdbcbd solid;
}
.OpenTableRightFoot {
	background:url("") no-repeat scroll 0 -70px transparent;
	width:25px;
	height:35px;
	float:right;
}
.OpenTableLeftFoot {
	background:url("") no-repeat scroll 0 -35px transparent;
	width:25px;
	height:35px;
	float:left;
}
.OpenTableMainFoot {
	background:url("") repeat-x scroll 0 0 transparent;
	height:35px;
	margin:0 20px;
}
.OpenTableContent {
	background-color:#ffffff;
	padding:5px;
	border-right:1px #bdbcbd solid;
	border-left:1px #bdbcbd solid;
}


#lightbox {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxCaption {
	color: #333;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#lightboxIndicator {
	border: 1px solid white;
}
#lightboxOverallView,
#overlay {
	background-color: #000;
	opacity: 8.5;
}
* html #lightboxOverallView,
* html #overlay {
	background-color: #000;
	filter: Alpha(opacity=50);
}

.galcat {
	text-align:center;
	border:0px;
	background-image:url('');
	background-repeat:no-repeat;
	width:220px;
	height:150px;
	float:right;
	margin-left:10px;

}

.galcat:hover {
	background-image:url('');
}

.galpic {
	text-align:center;
	border:1px solid #117304;
	background-color:#dbdbdb;
	background-repeat:no-repeat;
	float:right;
	margin-left:10px;

}

.galpic:hover {
	background-color:#68e8ff;
}

ul {list-style:none;}

.tableborders {border:1px solid #cccccc;padding:3px;}
.tableborders  td {border:1px solid #cccccc;}

.mnudiv {color:black;}
.mnudiv a
{ color:black;
}

.mnudiv a:hover
{
color:#8e0fa4;
}


.catimg ul li {
list-style-image: url("");
	 margin-right: 40px;
	color: #ffffff;
	line-height: 5px;
}

.myh1{
 font-size: 12px;
    font-weight: normal;
}
/*End Open Table*/


/* Begin group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* End group Blink */

/*begin Media*/

@media screen{
 
        #Headerm {
                height: auto;
        }
 
        #center-mian-bg .content {
                width: auto;
                float: none;
                margin: 20px 0;
        }
 
        #right-block {
                width: 100%;
                float: none;
                margin: 0;
        }
 
        /*** Navigation ***/
       #main_nav {
                position:relative;
                min-height: 30px;
        }
 
        #main_nav ul {
                background: #fff;
                border: 1px solid #ddd;
                padding: 5px 0;
                position: absolute;
                width: 40%;
        }
 
       #main_nav ul li {
                display: none;
                margin: 0;
        }
 
        #main_nav ul li.current {
                display: block; 
        }
 
        #main_nav ul li a, #main_nav ul li.current a {
                background: 0;
                display: block;
                padding: 5px 10px;
        }
 
        #main_nav ul li.current a {
                color: #333;
        }
 
        #main_nav ul:hover li {
                display: block;
        }
}
/*end Media*/




/*Begin Motafareghe*/


.mihan_logo{text-align:center;height:131px;margin-top:10px;
background: url(http://mihanblog.com/public/public/images/logo/poweredby.gif) no-repeat top center;}
	.today{float:left;padding:5px}
 
 
.commenet{
padding:4px;
line-height:25px;
-moz-border-radius:7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;
direction:rtl;text-align:right;
font-family:Tahoma;
}
.commenet input[type="text"]{
font-family:Tahoma;
direction:rtr;text-align:right;
border:1px solid #000000;
padding:4px;
-moz-border-radius:7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;
}
.commenet input[type="text"]:hover{
border:1px solid #000000;
-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;
}
.commenet textarea{
font-family:Tahoma;
direction:rtr;text-align:right;
border:1px solid #000000;
padding:4px;
-moz-border-radius:7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;
width:281px;
}
.commenet textarea:hover{
border:1px solid #000000;
-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;
}
.comment_loop{
background:#F4F4F4;
border-right:5px solid #E5E5E5;
border-left:1px solid #E5E5E5;
border-top:1px solid #E5E5E5;
border-bottom:1px solid #E5E5E5;
margin-bottom:24px;
padding:6px;
-moz-border-radius:14px;-webkit-border-radius:14px;-khtml-border-radius:14px;border-radius:14px;
font-size:12px;
line-height:25px;
}
.comment_loop:hover{
background:#FFF;
}
.comment_sender{
padding:10px;
color:#339900;
font-weight:bold;font-size:13px;
}
.comment_sender a {
color:#339900;
text-decoration: none;
font-size:13px;
}
.comment_sender a:visited {
color:#339900;
text-decoration: none;
font-size:13px;
}
.comment_sender a:hover {
color:#FF0000;
text-decoration: none;
}
.comment_reply{
margin-right:35px;margin-top:7px;margin-bottom:2px;margin-left:35px;
color:#2D0016;
padding:4px;
border-top:1px solid #E5E5E5;
-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;
background:#EFEFEF;
}
.comment_reply:hover{
padding:6px;
 background:#FFFBFC;
-moz-border-radius:7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;
}
.comment_sender_link{
padding:10px;
color:#FF0000;
font-size:12px;
text-align:left;direction:ltr;
}
.comment_sender_link a {
color:#FF0000;
text-decoration: none;
font-size:12px;
}
.comment_sender_link a:visited {
color:#FF0000;
text-decoration: none;
font-size:12px;
}
.comment_sender_link a:hover {
color:#0033FF;
text-decoration: none;
}
.comment_form {
direction: rtl;
padding: 20px;
background:#fff;/* ??? ?? ????? ??? C??C? ?U? */
-moz-border-radius:14px;-webkit-border-radius:14px;-khtml-border-radius:14px;border-radius:14px;
border-right:5px solid #E5E5E5;
border-left:1px solid #E5E5E5;
border-top:1px solid #E5E5E5;
border-bottom:1px solid #E5E5E5;
margin-bottom:24px;
}
.comment_form label{
text-align: left;
font-size: 11px;
padding-left: 10px;
}
.comment_form_row {
margin:11px;/* ?C??? E?? ???I ?C */
}


/*End Motafareghe*/